.ContentBox {
  z-index: 50;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 100px #f0f;
  background: var(--contrast-primary);
  border-radius: 8px;
  margin-top: 24px;

  .ContentBox__content {
    padding: 16px;
    position: relative;
    z-index: 51;
    height: inherit;
    border-radius: 8px;
    background: white;
  }
}