@import '../../../vars';

.ContentBox {
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid var(--extra-light-gray);
  background: var(--primary-background);
}

.ContentBox__content {
  border-radius: inherit;
  padding: 16px;

  @media (max-width: @mobile-width) {
    border-radius: 0;
  }
}