.Badge {
  position: relative;
  width: fit-content;
  display: inline-block;
  
  .Badge__count {
    color: var(--contrast-primary);
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    background: var(--primary-red);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(-80%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}