.Logo {
  display: block;
  width: 105px;
  height: 32px;

  .isvg {
    display: block;
    height: inherit;
    width: inherit;
    font-size: 0;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}