.Logo {
  display: block;
  width: 104px;
  height: 32px;

  &.large {
    width: 130px;
    height: 39px;
  }

  .isvg {
    display: block;
    height: inherit;
    width: inherit;
    font-size: 0;

    svg {
      height: inherit;
      width: inherit;
    }
  }
}
