@import '../../../../vars.less';

.CabinetSidebar {
  position: relative;
  max-width: 208px;
  height: 100%;
  max-height: 100%;

  &__container {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    overflow-y: scroll;
    border-radius: var(--radius-panel);
    scrollbar-width: none;
    transition: height 0.3s;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ScrollbarBox-container {
    height: 100%;
    width: 100%;
  }

  .CabinetBlock {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .WalletsList {
    position: sticky;
    width: 100%;
    top: calc(100vh - 75px);

    .WalletsListItem {
      transition: box-shadow 0.3s;
      background: var(--alice-blue);
      cursor: default;

      &:hover {
        box-shadow: 0 0 20px #dfe3f0;
      }

      &__icon {
        .isvg {
          box-shadow: 0 0 0 1px #fff;
        }
      }

      &__column:nth-child(3) {
        .WalletsListItem__text-medium {
          margin-bottom: 3px;
        }
      }
    }
  }

  .disabled {
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
  }

  .NarfexRate__large {
    font-weight: 600;
    font-size: 14px;
    line-height: 110%;
    text-align: right;
    letter-spacing: -0.01em;
    color: var(--dark-black);
  }

  .RateIndicator {
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: @desktop-width) {
  .CabinetSidebar {
    &__container {
      position: sticky;
      top: 18px;
      height: 100%;
      max-height: auto;
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .CabinetSidebar {
    height: 100%;
    padding-top: 12px;
    padding-left: 29px;
    margin-left: -15px;
    max-width: 100%;
    width: 266px;
    background: #fff;
    box-sizing: border-box;
    border-radius: var(--radius-panel) var(--radius-panel) 0 0;
    transform: translateX(-100%);
    transition: transform 0.5s;
    z-index: 100;

    &.active {
      transform: translateX(0%);
    }

    &__container {
      margin-bottom: 0;
      height: 100%;
      margin-bottom: 5%;
    }

    .CabinetBlock {
      padding: 23px 52px 22px 21px;

      &:not(:first-child) {
        padding-top: 7px;
      }
    }

    .WalletsList {
      position: static;
      margin-top: auto;
      padding-top: 33px;
      margin-bottom: 15px;
      width: 100%;
      max-width: 205px;
      justify-content: end;

      .WalletsListItem {
        &__icon {
          .isvg {
            box-shadow: 0 0 0 1px #fff;
          }
        }
      }
    }

    .ScrollbarsCustom-Content {
      display: flex;
      flex-direction: column;
    }
  }
}
