.CabinetResetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;

  &__content {
    padding: 50px;
    width: 424px;
    box-sizing: border-box;

    &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    &__submit_wrapper {
      text-align: center;
      margin-top: 80px;
    }

    &__icon {
      margin: 0 auto;
      width: 120px;
      height: 120px;
    }
  }

  p {
    font-size: 24px;
    line-height: 32px;
    margin: 24px auto 40px;
    text-align: center;
  }

  .Input__wrapper {
    margin-bottom: 40px;
  }
}