.Footer {
  background: var(--secondary-active-background);
  display: flex;
  margin-top: 42px;
}

.Footer__cont {
  width: 1230px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
}

.Footer__links_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Footer__links {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 0 30px 20px;
  width: 105%;
}

.Footer__links__title,
.Footer__links__item {
  margin-bottom: 8px;
}

.Footer__links__title {
  color: var(--foreground-primary);
}

.Footer__links__item {
  color: var(--foreground-secondary);
  display: inline-block;
}

.Footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;

  @media (min-width: 992px) { padding: 30px 20px; }

  div {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.36;
    background: var(--grey-logo-color);
  }
}

.Footer__logo {
  color: var(--grey-logo-color);
}

.Footer__copyright {
  font-weight: 500;
  font-size: 15px;
  color: var(--foreground-secondary);
}

.Footer__socials {
  display: flex;
}

.Footer__social {
  width: 31px;
  height: 31px;
  margin-left: 21px;
  color: rgba(0, 0, 0, 0.19);
  transition: color 150ms ease-in-out;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: var(--primary);
  }
}