.p2p-orders {
  & > * {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  span {
    &.green {
      background: #00b277;
      border-radius: 4px;
      padding: 7px 5px;
      color: #fff;
    }
  }
}
