.SiteWrapper {
  min-height: 1219px;
  background-size: 2927px 1219px;
  position: relative;
  width: 1404px;
  margin: 0 auto;
}

.SiteWrapper__bg {
  display: block;
  position: absolute;
  width: 2929px;
  height: 1220px;
  //background: url('../../asset/site/head_bg.svg') no-repeat 132px -281px;
  top: -281px;
  left: calc(50% + 132px);
  transform: translateX(-50%);
  z-index: -1;
}

.SiteSectionHeader {
  text-align: center;
  margin-top: 120px;
}

.SiteSectionHeaderTitle {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--foreground-primary);
}

.SiteSectionHeaderCaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  margin-top: 20px;
  color: var(--foreground-secondary);
}
