.TitleWithBg {
  font-weight: 500;
  font-size: 34px;
  line-height: 56px;
  color: var(--foreground-primary);
  height: 56px;
  letter-spacing: 1.2px;
}

.TitleWithBg__title__bg {
  font-weight: bold;
  font-size: 91px;
  color: var(--site-homepage-product-bg-title-color);
  transform: translate(-51px, -63px);
  z-index: -1;
  position: relative;
}

.centered {
  text-align: center;

  .TitleWithBg__title__bg {
    transform: translate(-5px, -63px);
  }
}

.bgTitleUppercase {
  text-transform: uppercase;
  transform: translate(-51px, -55px);

}

.centered {
  .bgTitleUppercase {
    transform: translate(5px, -55px);
  }
}

.darkBg {
  color: #F5F1EE;
}

@media all and (max-width: 1200px) {
  .TitleWithBg__title__bg {
    transform: translate(-5px, -63px);
  }
}