@import '../../../../vars.less';

.NarfexDAO .Contacts {
  max-width: none;
  padding: 39px 0 184px;
  margin: 0;

  .ContactsContainer {
    svg,
    img {
      bottom: -167px;

      @media screen and (min-width: calc(@mobile-width + 1px)) and (max-width: 1100px) {
        right: -30px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .Button {
    min-width: 233px;
    height: 77px;

    padding: 0 61.3px;
  }

  @media screen and (max-width: @mobile-width) {
    padding: 87px 0 151px;

    .LandingContainer {
      padding: 0 11px;
    }

    .ContactsContainer {
      padding: 56px 22px 327px;

      svg,
      img {
        left: 53.5%;
        bottom: -195px;
        width: 389px;
        height: 501px;
        transform: translateX(-50%);
      }
    }
  }
}
