@import '../../../../vars.less';

.NarfexDAO {
  .Contacts {
    max-width: none;
    padding: 39px 0 184px;
    margin: 0;

    .ContactsContainer {
      svg,
      img {
        bottom: -167px;

        @media screen and (min-width: calc(@mobile-width + 1px)) and (max-width: 1100px) {
          right: -30px;
        }
      }
    }
  }
}
