.MainLanding-roadmap {
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 150px;
    }
  }
}

.MainLanding-roadmap .Roadmap {
  padding: 0;
  box-sizing: border-box;

  &__container {
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.adaptive .MainLanding-roadmap {
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 105px;
    }
  }
}