.TransactionModal {
  
  .TransactionModal__content {
    width: 464px;
    padding: 40px 40px 24px;
  
    .TransactionModal__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: var(--foreground-primary-opacity);
      margin-bottom: 44px;
    }
  }
}


.TransactionTable {
  .TransactionTable__row {

    .TransactionTable__row__key {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.444444px;
      color: var(--primary-grey);
      padding: 12px 16px 12px 0;
    }

    .TransactionTable__row__value {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.444444px;
      color: var(--foreground-primary-opacity);
      padding: 12px 0;
    }
  }
}