.formInput {
  width: 100%;
}

.label {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--cool-gray);
}

.input {
  background: none;
  border: 1px solid var(--azureish-white);
  border-radius: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

:global(.adaptive) {
  .label {
    margin-bottom: 6px;
  }

  .input {
    --input-height: 44px;

    font-size: 12px;
    line-height: 140%;
  }
}
