.DepositModal__Bank__DepositTransfer {
  height: 100%;
  flex: 1 1;
  text-align: center;

  .speed-icon {
    margin-top: 32px;
    margin-bottom: 80px;
  }

  p {
    max-width: 305px;
    font-weight: 600;
  }

  h3 {
    margin-bottom: 32px;
    font-weight: 600;
    margin-top: 129px;
  }

  .buttons {
    margin-top: auto;

    .Button {
      min-width: 182px;

      &:not(:last-child) {
        margin-right: 18px;
      }
      .isvg {
        margin-left: 5px;
      }
    }
  }
}
