.DepositModal__Bank__DepositTransfer {
  padding: 43px 33px 26px;
  flex: 1 1;
  text-align: center;

  .speed-icon {
    margin-top: 57px;
    margin-bottom: 24px;
  }

  p {
    max-width: 305px;
    font-weight: 600;
  }

  h3 {
    margin-top: 0 !important;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 20px;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
  }

  .buttons {
    margin-top: 97px;

    .Button {
      flex: 1 1 50%;
      padding: 0 10px;

      &:not(:last-child) {
        margin-right: 18px;
      }

      &.secondary-alice {
        .Button__label {
          font-size: 12px;
        }
      }

      .isvg {
        margin-left: 5px;
      }
    }
  }
}

.adaptive .DepositModal__Bank__DepositTransfer {
  height: auto;
  padding: 20px 11px;

  h3 {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.01em;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  .speed-icon {
    margin: 48px 0 24px;
  }

  .buttons {
    margin: 48px -7.5px 0;
    width: auto;

    .Button {
      flex: 1 1 50%;
      min-width: 210px;
      margin: 0 7.5px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &__label {
        font-size: 14px !important;

        .isvg {
          height: 15px;
          width: 13.65px;
        }
      }
    }
  }

  p.small {
    font-size: 14px;
    margin: 0;
  }
}
