.PartnerInfoModal__user_info {
  padding: 8px 0 32px;
  display: flex;
  align-items: center;

  .ProfileUser__avatar__wrap {
    margin: 0;
  }
}

.PartnerInfoModal__user_info__photo {
  width: 112px;
  height: 112px;
  background: no-repeat center/cover;
  background: red;
}

.PartnerInfoModal__user_info__cont {
  margin-left: 40px;
}

.PartnerInfoModal__user_info__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.PartnerInfoModal__user_info__login {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: var(--primary-grey);
  text-transform: uppercase;
}

.PartnerInfoModal__block {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.PartnerInfoModal__block__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

.PartnerInfoModal__block__content {
  margin-top: 16px;
}