.DepositModal__Bank__sidebar {
  height: 100%;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 23.9px 24px 23.9px;
  box-sizing: border-box;

  h4 {
    margin-bottom: 60px;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }

  &-item {
    width: 100%;
    margin-bottom: 24px;

    &.line {
      height: 1px;
      background: #c4c4c4;
    }
  }
}
