.TransactionHistory {
  &__wrap {
    min-height: 100%;
    padding: 32px;
    box-sizing: border-box;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    color: var(--black-gunmetal);
  }

  &__description {
    max-width: 436px;
    margin: 8px 0 12px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--cool-gray);
  }

  &__item {
    text-transform: capitalize;
  }

  .WalletIcon,
  .DoubleWallets {
    margin-right: 5px;
  }

  &__icon {
    &-export {
      margin-left: 4px;

      .isvg {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-arrow {
      margin: 0 6px;
      display: flex;
      justify-content: center;
      .isvg {
        margin: 0 !important;
      }
    }

    &-sortArrow {
      margin-left: 4px;

      &.up {
        svg {
          transform: rotate(-180deg);
        }
      }

      .isvg {
        svg {
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  &__table {
    position: relative;

    &__container {
      min-height: 400px;

      &.blur {
        filter: blur(2.5px);
        user-select: none;
        margin-top: 28px;
        pointer-events: none;
      }
    }
  }
}

.adaptive .TransactionHistory {
  &__wrap {
    padding: 23px 18px;
  }

  &__description {
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__table__container.blur {
    margin-top: 0;
  }
}
