.Farming {
  padding: 32px 32px 28px;
  min-height: 100%;
  box-sizing: border-box;

  &__header {
    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 110%;
      letter-spacing: -0.01em;
      color: var(--black-gunmetal);
    }

    p {
      max-width: 340px;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--cool-gray);
    }

    .row {
      &:nth-child(1) {
        margin-bottom: 8px;
      }

      &:nth-child(2) {
        margin-bottom: 24px;
      }
    }
  }

  .row {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
