.VerificationModal {
  .VerificationModal__content {
    position: relative;
    min-height: 400px;
    min-width: 400px;
  }

  &.loading .VerificationModal__content {
    #sumsub {
      display: none;
    }
  }
}

.adaptive {
  .VerificationModal__content {
    min-height: 100px;
    min-width: auto;
  }
}
