.col {
  display: inline-grid;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-4 {
  width: 33%;
}

.col-lg-3 {
  width: 25%;
}


@media (max-width: 991px) { 
  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33%;
  }

  .col-md-3 {
    width: 25%;
  }
}

@media (max-width: 767px) { 
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33%;
  }

  .col-sm-3 {
    width: 25%;
  }
}

@media (max-width: 480px) { 
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-4 {
    width: 33%;
  }

  .col-xs-3 {
    width: 25%;
  }
}