@import '../../../vars';

.Service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 240px;

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 118%;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 107px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 27px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: @mobile-width) {
  .Service {
    flex-direction: row;
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &__title {
      margin-left: 25px;
      text-align: left;
    }

    .icon-container {
      min-width: 107px;
      margin-bottom: 0;
    }
  }
}
