@import '../../../../vars.less';

.CabinetWalletSidebar {
  max-width: 208px;

  .CabinetBlock {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 71px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
