.adaptive .TokenMigrationLanding-form,
.TokenMigrationLanding-form {
  max-width: 535px;
  padding: 40px 31px;
  background: #fff;
  box-shadow: 0px 34px 70px rgba(199, 201, 207, 0.25);
  border-radius: var(--radius-panel-large);
  box-sizing: border-box;
  margin-left: 10px;

  & h3,
  & &__balance {
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--dark-black);
  }

  & h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }

  & &__balance,
  & &__description {
    font-weight: 500;
  }

  & &__balance {
    font-size: 32px;
    margin-bottom: 20px;
  }

  & &__description {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 160%;
    color: #939393;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .Button.ultra_large {
    height: 72px;
    border-radius: 15px;
    width: 100%;

    .Button__label {
      letter-spacing: -0.01em;
      color: #fff;
    }
  }

  .blue {
    background: linear-gradient(135deg, #78a0ff 0%, #5078e6 100%), #dfe3f0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &:not(.isConnected) &__content {
    pointer-events: none;
    user-select: none;
    opacity: 0.25;
  }
}

.adaptive .TokenMigrationLanding-form {
  padding: 40px 15px;
  margin: 0 auto;

  &__buttons {
    gap: 15px;
  }
}
