.DocumentationHeader {
  margin: 0;
  border-radius: 0;
  background: var(--white);

  .ContentBox__content {
    display: flex;
    align-items: center;
    background: none;
    max-width: 1340px;
    margin: 0 auto;
    padding: 12px 0;
    border-radius: 0;
  }

  .Header__title {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    border-left: 1px solid;
    color: var(--dark-blue);
    margin-left: 24px;
    padding-left: 23px;
  }

  .Header__controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .Header__controls__lang {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 24px;

    .isvg {
      display: block;
      margin-left: 1em;
      border: 1px solid var(--gray);
      width: 18px;
      height: 13.5px;

      svg {
        display: block;
      }
    }
  }
}
