@import '../../../../vars.less';

.Referral {
  padding: 39px 63px 76px 48px;
  height: 100%;
  box-sizing: border-box;

  &__container {
    position: relative;
    max-width: 1033px;
    margin: 0 auto;

    & > * {
      animation: showElement 0.5s;
    }
  }

  &__bg {
    overflow: hidden;
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(calc(-50%));
    max-width: 100%;

    svg {
      max-width: inherit;
      width: 1071px;
      height: 651px;
    }
  }

  // Blocks
  &__Dashboard {
    margin-bottom: 32px;
  }

  &__ReferralList {
    margin-bottom: 60px;
  }

  // Components
  h1 {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--black-gunmetal);
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .isvg {
    display: flex;
    align-items: center;
  }

  .create-new-link {
    .isvg {
      margin-left: 10px;
    }
  }

  .strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-gunmetal);
  }

  .secondary-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
    color: var(--cool-gray);
  }

  .small-text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
  }

  .blue {
    color: var(--secondary-blue);
  }

  .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    transition: opacity 0.1s;

    &:hover {
      opacity: 0.8;
    }
  }

  .blue-gradient-text {
    color: var(--secondary-blue);
  }

  .SwitchTabs {
    margin-bottom: 73px;
    font-weight: 600;

    &__item {
      &:not(.active) {
        color: #365fd9;
      }
    }
  }

  &__share {
    height: 53px;
    width: 53px;
    background: #e5ebfc;
    border: 1px solid #dfe3f0;
    border-radius: 12px;
    box-sizing: border-box;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  &__information_procent {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
  }
}

@keyframes showElement {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: @mobile-width) {
  .Referral {
    padding: 22px 10px 45px;

    h1 {
      margin-top: 0;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
    }

    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .link {
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
    }

    .strong {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }

    .SwitchTabs {
      height: 55px;
      margin-bottom: 32px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
    }

    .create-new-link {
      span {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}
