.Referral {
  padding: 93px 63px 76px 48px;
  height: 100%;

  &__information {
    max-width: 557px;
    width: 100%;

    .CabinetBlock {
      width: 100%;
      background: var(--alice-blue);
      padding: 24px 32px 23px 28px;
      box-sizing: border-box;
    }
  }

  // Components
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  .isvg {
    display: flex;
    align-items: center;
  }

  .create-new-link {
    .isvg {
      margin-left: 10px;
    }
  }

  .strong {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-gunmetal);
  }
}
