.orders-list-payment-item {
  display: flex;
  align-items: center;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  &__color {
    width: 2px;
    min-width: 2px;
    height: 15px;
    border-radius: 20px;
    margin-right: 5px;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.large {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: var(--dark-black);
  }

  &.large &__color {
    width: 4px;
    min-width: 4px;
    height: 23px;
    margin-right: 9px;
  }
}

.adaptive .orders-list-payment-item {
  &.large {
    font-size: 16px;
    line-height: 20px;
  }

  &.large &__color {
    width: 3px;
    height: 17px;
    margin-right: 5px;
  }
}
