.Bot__history {
  .ContentBox__content {
    padding: 40px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .Table {
    border-spacing: 20px;
    margin: 0 -16px;
    width: calc(100% + 32px);

    .Table__td__cont {
      margin-bottom: 8px;
    }

    thead .Table__td__cont {
      margin-bottom: 16px;
    }
  }
}
