.TabBar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: var(--primary-background);
  border-radius: 8px 8px 0px 0px;
  box-shadow: var(--main-shadow);
  height: 48px;
  z-index: 100;

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-gray);
    flex: 1;

    &.active {
      color: var(--black);

      &:after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        width: 50%;
        background: var(--orange-gradient);
        border-radius: 1px;
      }
    }

    .isvg {
      line-height: 0;
    }
  }
}
