@import '../../../../vars';

.DappContainer {
  // --site-bar-width: 208px;
  --sidebar-width: 190px;
  --content-width: 1300px;
  --container-padding: 18px;
  --header-height: 58px;
  --column-gap: 20px;

  display: grid;
  grid-template-columns: var(--sidebar-width) calc(
      100% - var(--sidebar-width) - var(--column-gap)
    );
  grid-column-gap: var(--column-gap);
  width: 100%;
  margin: 0 auto;
  padding: 20px var(--container-padding) var(--container-padding);
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height));
}

.DappContainer__content {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - var(--sidebar-width) - var(--container-padding));
  // width: 100%;
  position: relative;
  z-index: 1;
}

.DappContainer__sideBar {
  // margin-right: 25px;
  max-width: var(--sidebar-width);
  // width: 100%;
  position: relative;
  z-index: 2;
}

.adaptive .DappContainer {
  grid-template-columns: 100%;
}

@media (max-width: @mobile-width) {
  .DappContainer {
    grid-template-columns: 100%;
    --sidebar-width: 100%;
    --content-width: 100%;

    width: 100%;
    padding: 17px 10px 10px;
    position: relative;
    box-sizing: border-box;
    // 17px padding top, 10px padding bottom

    &__sideBar {
      position: fixed;
      display: none;
      height: calc(100vh - var(--header-height) - 17px);
      width: 100vw;
      top: calc(var(--header-height) + 17px);
      left: 0;
      margin: 0;
      box-sizing: border-box;
      background: rgba(40, 40, 40, 0);
      transition: background 0.5s;
      z-index: 2;

      &.active {
        display: block;
        background: rgba(40, 40, 40, 0.24);
      }
    }

    &__content {
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}
