@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}

.CreateWalletModal {
    .Modal__header {

    }
    &-content {

    }
    &-loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 40px;

        .isvg {
            svg {
                margin-bottom: 16px;
                animation:spin 1s linear infinite;

                path {
                    fill: rgb(250, 190, 76);
                }
            }
        }
        &-text {

        }
    }
    &-done {
        margin-top: 40px;

        h3 {
            font-size: 13px;
        }
        p {
            margin: 20px 0;
            font-weight: 600;
            max-width: 600px;
        }
        .Input__wrapper {
            margin-bottom: 20px;

            .Input {
                min-width: 640px;

                .adaptive & {
                    min-width: initial;
                    width: 100%;
                }
            }
            .Input__description {
                margin: 16px 0 0;
            }
        }
        .Button {
            margin: 8px auto 20px;
        }
    }
}