.AdsFilters {
  :global {
    .Button {
      min-width: 104px;

      &__label {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
      }
    }

    .CustomButton {
      height: 46px;

      font-weight: 600;
      font-size: 14px;
      line-height: 100%;

      &:not(:active):hover {
        opacity: 0.85;
      }
    }
  }
}

.Column {
  &__title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--cool-gray);
  }

  &__content {
    width: 100%;

    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

  &__isSelect {
    flex: 1 1 auto;
    max-width: 151px;
  }

  .Select {
    &__control {
      min-height: 46px;
    }
  }
}

.DatePicker {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 46px;
  padding: 0 12px;
  border: 1px solid var(--azureish-white);
  border-radius: 10px;
  box-sizing: border-box;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;

  svg {
    width: 14px;
    height: 14px;
  }
}
