.AdvertiserDetailTable {
  &:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #f1f1f1;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .limitAndAvailable {
    &__row {
      display: flex;
      flex-wrap: wrap;
      gap: 7px;

      & > *:first-child {
        min-width: 63px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__value,
    &__title {
      font-size: 14px;
      max-width: 100%;
    }

    &__title {
      font-weight: 400;
      color: var(--cool-gray);
    }
    &__value {
      font-weight: 500;
    }
  }

  .Payment {
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
    }
  }

  td:last-child {
    width: 114px;
  }

  :global {
    .Button {
      width: 100%;
      height: auto;
      padding: 10px 5px;
      border-radius: 7px;

      &__label {
        span {
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    td:nth-child(2) {
      .Number {
        line-height: 24px;
      }
    }
  }
}

:global(.adaptive) {
  .AdvertiserDetailTable {
    &:not(:last-child) {
      margin-bottom: 30px;
      padding-bottom: 0px;
    }

    td:nth-child(2) > * {
      &:first-child span {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }

    .limitAndAvailable {
      &__row > *:first-child {
        min-width: 0;
      }

      &__title,
      &__value {
        font-size: 12px;
        line-height: 20px;
      }
    }

    :global {
      .Button {
        height: auto;
        padding: 10px 5px;
        width: 91px;
      }

      td:nth-child(2) {
        .Number {
          line-height: 22px;
        }
      }
    }
  }
}
