.MainLandingWrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 19px 30px;
  left: 0;
  top: 0;
  box-sizing: border-box;

  &__logo {
    width: 105px;
    height: 33px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    &__link {
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #2f323d;
    }

    &__link:not(:last-child) {
      margin-right: 42px;
    }
  }

  &__action {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 9px;
    }
  }

  .CabinetSelect {
    &__control {
      height: 40px;
    }

    &__value-container {
      height: 100%;
    }

    &__single-value span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .isvg {
      display: inline-flex;
      margin-right: 5px;
    }

    &__option .isvg {
      display: none;
    }
  }

  .Button {
    .isvg {
      margin-left: 13px;
    }

    svg {
      width: 16px;
      height: 12px;
    }
  }
}
