.RoadmapModal {
  position: absolute;
  width: 207px;
  background: #fff;
  border-radius: 18px;
  padding: 31px 24px 28px;
  box-sizing: border-box;
  z-index: 10;

  svg {
    margin-right: 15px;
  }

  span {
    display: block;
  }

  &__tasks {
    margin-top: 13px;
  }

  &__task {
    display: flex;
    font-size: var(--landing-text-size);
    font-weight: var(--landing-text-weight);
    font-weight: 500;
    line-height: 210%;
    color: var(--landing-color-gray);
    overflow-wrap: anywhere;
    padding: 0 2px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}
