@import '../../../vars';

.Roadmap {
  padding: 130px 0 91px;

  &__container {
    max-width: @landing-container-width;
    padding: 0 @landing-container-padding;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 77px;
    text-align: center;
  }

  &__items {
    display: flex;
    overflow-x: scroll;
  }
}

.Roadmap__items {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.Roadmap .step {
  --transition-delay: 0.3s;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 212px;
  height: 235px;
  padding: 31px 29px 29px;
  box-sizing: border-box;
  background: #edf1f8;
  border: 2px solid #edf1f8;
  border-radius: 18px;
  transition: background var(--transition-delay);

  &:not(:last-child) {
    margin-right: 25px;
  }

  &__number {
    margin-bottom: 10px;
    color: #adb4ce;
    font-weight: 700;
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.19em;
  }

  &__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 125%;
    color: var(--landing-color-black);
    overflow-wrap: anywhere;
  }

  &__modal-open {
    margin-top: auto;
    color: #78a0ff;
    cursor: pointer;
    text-decoration: underline;

    .Roadmap__icon {
      margin-right: 9px;
    }
  }

  &__title,
  &__number {
    cursor: default;
  }

  &__title,
  &__number,
  &__modal-open {
    transition: color var(--transition-delay);
  }

  &__modal-open path {
    transition: fill var(--transition-delay);
  }

  &:hover,
  &.active {
    background: #5078e6;

    .step {
      &__title {
        color: #fff;
      }

      &__number {
        color: #a4b9f1;
      }

      &__modal-open {
        color: #fff;

        .Roadmap__icon {
          margin-right: 9px;
        }

        svg path {
          fill: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: @mobile-width) {
  .step {
    min-width: 18.3%;
    max-width: 212px;
    width: 18.8%;

    &:not(:last-child) {
      margin-right: 2.14%;
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .Roadmap {
    padding: 70px 0 59px;
  }
}

.medium.Roadmap {
  .Roadmap__title {
    max-width: 1386px;
    padding: 0 69px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 35px;
    text-align: left;
    font-weight: 600;
    font-size: 50px;
    line-height: 114%;
    color: var(--gunmetal);
  }

  .Roadmap__icon {
    margin-left: 9px;

    .isvg {
      display: flex;
      align-items: center;
    }
  }

  .Roadmap__items {
    margin: 0 auto;
    max-width: 100%;
    gap: 25px;
    padding: 0 33px;
    box-sizing: border-box;
  }

  .Roadmap__item.step {
    padding: 39px 29px 31px 36px;
    max-width: 250px;
    min-width: 250px;
    height: 278px;
    margin: 0;
  }

  .step {
    &__number {
      font-weight: 600;
      font-size: 16px;
    }

    &__title {
      font-weight: 600;
      font-size: 25px;
      line-height: 125%;
    }

    &__modal-open {
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--royal-blue);
    }
  }
}

.adaptive .medium.Roadmap {
  .Roadmap__title {
    padding: 0 15px;
    font-weight: 600;
    font-size: 34px;
    line-height: 114%;
  }

  .Roadmap__items {
    padding: 0 15px;
  }
}
