.FiatMarketForm {
  .ContentBox__content {
    padding: 40px;
  }

  .FiatMarketForm__title {
    margin-bottom: 40px;
  }

  .FiatMarketForm__row {
    position: relative;
    display: flex;
    margin: 40px -8px;
    align-items: baseline;
  }

  .FiatMarketForm__column {
    margin: 0 8px;

    &:first-child {
      flex: 1;
    }

    &:last-child {
      width: 232px;
    }
  }

  .FiatMarketForm__inputLabel {
    font-size: 13px;
    line-height: 16px;
    top: -24px;
    left: 16px;
    position: absolute;
  }

  .FiatMarketForm__rate,
  .FiatMarketForm__balance {
    min-height: 16px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: var(--primary-grey);
    margin: 8px 16px;
    margin-right: 0;
  }

  .FiatMarketForm__balance {
    cursor: pointer;
  }

  .FiatMarketForm__button_wrapper {
    margin-top: 28px;
    text-align: center;

    .Button {
      width: 160px;
    }
  }
  .FiatMarketForm__fee,
  .FiatMarketForm__total {
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    color: var(--primary-grey);
    margin-bottom: 16px;
  }
}

.adaptive {
  .FiatMarketForm {
    .ContentBox__content {
      padding: 0;
    }
    .FiatMarketForm__row {
      flex-direction: column-reverse;
      margin: 42px 0;
    }

    .FiatMarketForm__column {
      margin: 0;
      width: 100%;

      &:last-child {
        width: 100%;
      }
    }
    .Button {
      width: 100%;
    }
  }
}
