@import '../../../../../../vars.less';

.Exchanger__Instruction {
  padding: 32px 97.5px;
  background: #fff;
  box-shadow: 0px 34px 70px rgba(199, 201, 207, 0.25);
  border: none;
  border-radius: var(--radius-panel-large);
  color: var(--text-black);
  overflow: hidden;

  .ContentBox__content {
    padding: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:not(:last-child) {
      .col {
        margin-bottom: 55px;
      }
    }

    a {
      width: 100%;
      text-decoration: none;
    }

    .Button {
      width: 100%;
      margin-top: 32px;
      border-radius: 12px;
      padding: 16px 22px;

      &__label {
        font-size: 11px;
        font-weight: 600;
      }
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 192px;
    width: 100%;
  }

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .description {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
  }

  .link {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: var(--primary-dark-blue);
  }

  &__bg-icon {
    position: absolute;

    &.wallets-bg {
      right: -14px;
      bottom: -73px;
    }

    &.usd-coin {
      display: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));

      &:nth-child(3) {
        right: auto;
        top: auto;
        left: 10.7px;
        bottom: 84px;
        transform: rotate(-1deg);

        svg {
          width: 40.29px;
          height: 37.37px;
        }
      }
    }

    &.narfex-usdt-coins {
      right: 18.39px;
      bottom: -59.17px;
    }

    &.narfex-coin {
      display: none;
    }

    &.narfex-usdt-coins-adaptive {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .Exchanger__Instruction {
    padding: 32px 0 28px;
    overflow: visible;

    &__content {
      margin: 0 auto;
      width: 58%;
    }

    .row {
      flex-direction: column;
      align-items: center;
    }

    .col {
      max-width: 100%;
    }

    &__bg-icon {
      position: absolute;

      &.wallets-bg {
        display: none;
        left: 58.61px;
        bottom: -9.43px;
      }

      &.usd-coin {
        display: block;
        right: -78.37px;
        top: 89.46px;

        transform: rotate(32deg);
      }
    }

    &__content {
      .col {
        &:not(:last-child) {
          margin-bottom: 48px;
        }

        .Button {
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-width: @small-mobile-width) {
  .Exchanger__Instruction {
    &__bg-icon {
      &.narfex-usdt-coins-adaptive {
        right: 70%;
      }
    }
  }
}
