.scrollBox {
  &:global(.customizedScroll) {
    overflow-y: scroll;
    scrollbar-color: #e5ebfc var(--alice-blue);

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 2px;
      background-color: var(--alice-blue);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #e5ebfc;
    }
  }
}
