.TransactionHistory__TransactionLink {
  display: flex;
  justify-content: start;

  a {
    display: flex;
    align-items: center;
    color: inherit;

    &.disabled {
      pointer-events: none;
      color: var(--cool-gray);

      .isvg {
        filter: grayscale(60%);
      }
    }
  }
}
