.Footer__social {
  display: flex;

  .Footer__social__link {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    color: inherit;
    cursor: pointer;
    transition: all .3s ease;

    &.telegram {
      transform-origin: top left;
      transform: scale(0.57) translate(-6px, -6px);
      filter: grayscale(1) contrast(0.4) brightness(1.55);
    }
    &:hover {
      &.facebook {
        color: #0084FF;
      }
      &.twitter {
        color: #55ACEE;
      }
      &.instagram {
        color: #E4405F;
      }
      &.medium {
        color: #02B875;
      }
      &.linkedin {
        color: #0077B5;
      }
      &.telegram {
        filter: initial;
      }
    }
  }
}