
:root {
  --uikit-foreground-primary: #000;
  --uikit-foreground-secondary: #9A9A9A;
  --uikit-contrast-primary: #fff;

  --uitkit-background: #fff;

  --uikit-primary: #FFB560;
  --uikit-primary-light: #FFCC5C;
  --uikit-background-secondary: #F5F1EE;
  --uikit-gradient-primary: linear-gradient(45deg, #ffc75d 0%, #ffa363 100%);
  --uikit--negative-gradient-primary: linear-gradient(45deg, #ffa363 0%, #ffc75d 100%);
  --uikit-negative: #FA6443;

  --uikit-button-color-btc: #F8AC4D;
  --uikit-button-color-eth: #908EE8;
  --uikit-button-color-ltc: #75BBE7;
  --uikit-button-color-flat: #6CC592;

  --uikit-button-gradient-btc: linear-gradient(45deg, #f8a15d 0%, #f7b73b 100%);
  --uikit-button-gradient-eth: linear-gradient(45deg, #896adf 0%, #98b1f1 100%);
  --uikit-button-gradient-ltc: linear-gradient(45deg, #619abe 0%, #7ac4f2 100%);
  --uikit-button-gradient-flat: linear-gradient(45deg, #62b27d 0%, #77d9a8 100%);

  --uikit-button-negative-gradient-btc: linear-gradient(45deg, #f7b73b 0%, #f8a15d 100%);
  --uikit-button-negative-gradient-eth: linear-gradient(45deg, #98b1f1 0%, #896adf 100%);
  --uikit-button-negative-gradient-ltc: linear-gradient(45deg, #7ac4f2 0%, #619abe 100%);
  --uikit-button-negative-gradient-flat: linear-gradient(45deg, #77d9a8 0%, #62b27d 100%);

  --uikit-accent: #658BF5;
  --uikit-accent-light: #8DB0FF;


  --uikit-button-secondary-background: #F5F1EE;
  --uikit-button-secondary-active-background: #FBF8F6;
  --uikit-button-negative-background: linear-gradient(to right bottom, #FDA591 0%, #F95834 100%);
  --uikit-button-negative-background-active: #F76646;

  --uikit-checkbox-disabled-background: #EAEAEA;

  --uikit-switch-indicator-background: #ECEBED;
  --uikit-switch-control-disabled-background: rgba(154, 154, 154, 0.5);

  --uikit-message-default-border-color: #9A9A9A;
  --uikit-message-default-background: #FFFFFF;
  --uikit-message-error-border-color: #FF937B;
  --uikit-message-error-background: #FFF4F2;
  --uikit-message-warning-border-color: #FFCC5C;
  --uikit-message-warning-background: #FFFBF3;
  --uikit-message-success-border-color: #95E5DD;
  --uikit-message-success-background: #F1FFFE;

  --uikit-toast-success-background: #24B396;
  --uikit-toast-success-shadow: #0px 6px 24px rgba(36, 178, 150, 0.3), 0px 0px 2px rgba(36, 178, 150, 0.3);
  --uikit-toast-fail-background: #FA4E3E;
  --uikit-toast-fail-shadow: 0px 6px 24px rgba(250, 78, 62, 0.3), 0px 0px 2px rgba(250, 78, 62, 0.3);
  --uikit-toast-warning-background: #FFB560;
  --uikit-toast-warning-shadow: 0px 6px 24px rgba(255, 181, 96, 0.3), 0px 0px 2px rgba(255, 181, 96, 0.3);
  --uikit-toast-info-background: #FFF;
  --uikit-toast-info-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);
  --uikit-toast-info-color: #808080;
}

