.light-blue-gradient-color {
  background: var(--blue-light-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.malibu-color {
  color: var(--malibu);
}
