.light-blue-gradient-color {
  background: var(--blue-light-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.royal-blue-color {
  color: var(--royal-blue);
}

.malibu-color {
  color: var(--malibu);
}

.orange-red-color {
  color: var(--orange-red);
}

.green-color {
  color: var(--green);
}

.emerald-color {
  color: var(--emerald);
}

.cool-gray-color {
  color: var(--cool-gray);
}

.dark-black-color {
  color: var(--dark-black);
}

.black-gunmetal-color {
  color: var(--black-gunmetal);
}
