.ValidatorTradeForm {
  h2 {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-black);
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-gunmetal);
  }

  &-col {
    &__title {
      margin-bottom: 15px;
    }
  }

  .AnswerPopup {
    margin-left: 10px;
  }

  .Radio {
    &:first-child {
      margin-top: 0;
    }
  }
}
