.ValidatorTradeForm {
  h2 {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-black);
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-gunmetal);
  }

  &-row {
    gap: 10px 50px;
  }

  .trade-type {
    margin-bottom: 40px;
  }
  .more-information {
    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &-col {
    flex: 1 1 0;

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  .AnswerPopup {
    margin-left: 10px;
  }

  .Radio {
    &:first-child {
      margin-top: 0;
    }
  }

  .Input {
    --input-height: 46px;
    background: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    border-color: #dfe3f0;
    border-radius: 10px;

    &__wrapper {
      margin: 0;
    }

    &__indicator {
      font-weight: 700;
      font-size: 13px;
      line-height: 140%;
      color: var(--azureish-white);
    }
  }

  .CabinetSelect {
    width: 100%;

    &__control {
      height: 46px;
    }
  }

  .trade-price {
    width: 260px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    color: var(--cool-gray);

    strong {
      font-weight: 600;
    }
  }
}
