@import "../../vars";

.SwitchTabs {
  position: relative;
  border: 1px solid;
  color: var(--uikit-primary);
  box-sizing: border-box;
  border-radius: @border-radius;
  height: 48px;
  display: flex;
  user-select: none;

  &.ultra_small {
    height: 24px;
  }

  &.secondary {
    color: var(--uikit-button-secondary-background);

    .SwitchTabs__item {
      color: var(--uikit-foreground-secondary);
      border-color:  var(--uikit-button-secondary-background);
    }

    .SwitchTabs__indicator {
      background: var(--uikit-button-secondary-background);
    }
  }

  &.disabled {
    opacity: .8;
    pointer-events: none;
  }
}

.SwitchTabs__item {
  flex: 1;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: color 150ms ease-in-out, border-color 150ms ease-in-out;
  border-left: 1px solid;

  &:first-child {
    border-left: none;
  }

  &.active {
    color: var(--uikit-contrast-primary);
    border-color: transparent !important;

    & + * {
      border-color: transparent !important;
    }
  }
}

.SwitchTabs__indicator {
  position: absolute;
  top: -1px;
  bottom: -1px;
  border-radius: @border-radius;
  background: var(--uikit-gradient-primary);
  z-index: 1;
  transition: transform 150ms ease-in-out;
  left: -1px;
}
