@import "../../vars";

@animType: ease-in-out;
@animTime: 400ms;

.SwitchTabs {
  position: relative;
  border: 1px solid;
  color: var(--primary-orange);
  box-sizing: border-box;
  border-radius: @border-radius;
  height: 48px;
  display: flex;
  user-select: none;
  transition: border-color @animTime @animType;

  &.ultra_small {
    height: 24px;
  }

  &.secondary {
    color: var(--dairy);

    .SwitchTabs__item {
      color: var(--dark-gray);
      border-color:  var(--dairy);

      &.active {
        & > span {
          color: var(--text-black);
        }
      }
    }

    .SwitchTabs__indicator span {
      background: var(--dairy);
    }
  }

  &.disabled {
    opacity: .8;
    pointer-events: none;
  }
}

.SwitchTabs__item {
  flex: 1;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-left: 1px solid;
  border-color: inherit;

  & > span {
    transition: color @animTime @animType;
    position: relative;
    z-index: 3;
  }

  &:first-child {
    border-left: none;
  }

  &.active {
    & > span {
      color: var(--primary-background);
    }
    transition: border-color @animTime @animType;
    border-color: transparent !important;

    & + * {
      border-left-color: transparent !important;
    }
  }
}

.SwitchTabs__indicator {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 2;
  transition: transform @animTime @animType;

  span {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: @border-radius;
    background: var(--orange-gradient);
    transition: background 3s ease;
  }

  &.animation span {
    animation: SwitchTabsAnimation @animTime @animType;
  }
}

@keyframes SwitchTabsAnimation {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.3, 1);
  }
}
