@import "../../vars";

.SwitchTabs {
  position: relative;
  border: 1px solid var(--uikit-primary-light);
  color: var(--uikit-primary);
  box-sizing: border-box;
  border-radius: @border-radius;
  height: 48px;
  display: flex;
  user-select: none;
}

.SwitchTabs__item {
  flex: 1;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: color 150ms ease-in-out;

  &.active {
    color: var(--uikit-contrast-primary);
  }
}

.SwitchTabs__indicator {
  position: absolute;
  top: -1px;
  bottom: -1px;
  border-radius: @border-radius;
  background: var(--uikit-gradient-primary);
  z-index: 1;
  transition: transform 150ms ease-in-out;
  left: -1px;
}

.SwitchTabs {
  &.ltc {
    .SwitchTabs__indicator {
      background: var(--uikit-button-gradient-ltc);
      color: white;
    }
    color: var(--uikit-button-color-ltc);
    border-color: var(--uikit-button-color-ltc);
  }

  &.eth {
    .SwitchTabs__indicator {
      background: var(--uikit-button-gradient-eth);
      color: white;
    }
    color: var(--uikit-button-color-eth);
    border-color: var(--uikit-button-color-eth);
  }

  &.btc {
    .SwitchTabs__indicator {
      background: var(--uikit-button-gradient-btc);
      color: white;
    }
    color: var(--uikit-button-color-btc);
    border-color: var(--uikit-button-color-btcZ);
  }

  &.flat {
    .SwitchTabs__indicator {
      background: var(--uikit-button-gradient-flat);
      color: white;
    }
    color: var(--uikit-button-color-flat);
    border-color: var(--uikit-button-color-flat);
  }
}