.Referral__ReferralList {
  box-sizing: border-box;
  background: var(--alice-blue);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-panel-large);
  padding: 30px 60px;

  h2 {
    margin-bottom: 8px;
  }
}
