.Referral__ReferralList {
  box-sizing: border-box;
  background: var(--alice-blue);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-panel-large);
  padding: 30px 60px;

  h2 {
    margin-bottom: 8px;
  }

  .subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--cool-gray);
  }

  &__items {
    &-exists {
      margin-top: 55px;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 110%;
      color: var(--secondary-blue);

      .Row {
        padding-left: 77px;
        box-sizing: border-box;

        &:not(.title-row) {
          height: 70px;
          border-radius: var(--radius-panel);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

          &:nth-child(2n) {
            background: #fff;
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      .Col {
        width: 33.3%;
        box-sizing: border-box;
      }

      .title-row {
        margin-bottom: 22px;
        color: #292d32;
        font-size: 18px;
      }
    }

    &-empty {
      padding: 41px 0 63px;
      font-weight: 600;
      font-size: 24px;
      line-height: 110%;
      color: #bfcef8;
      letter-spacing: -0.01em;
      user-select: none;

      .logo {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: var(--blue-light-gradient);
        opacity: 0.3;

        svg {
          height: 59px;
          width: 39px;
        }
      }
    }
  }
}
