.p2p {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--dark-black);
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--cool-gray);
  }

  .SwitchTabs {
    height: 46px;
    min-width: 240px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    background: var(--alice-blue);

    &__item:not(.active) span {
      background: var(--blue-light-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: var(--blue-light-gradient-color-end);
    }

    &__indicator span {
      border-radius: 10px;
    }

    &.small {
      min-width: 174px;
    }
  }

  .SocialLinks {
    padding-top: 38px;
  }
}

.adaptive .p2p {
  padding-bottom: 20px;

  .SocialLinks {
    padding-top: 30px;
  }
}
