.NarfexDAO .Membership {
  position: relative;
  padding: 233px 0 183px;

  .LandingContainer {
    position: relative;
  }

  &__content {
    margin-left: auto;
    z-index: 2;
  }

  h2 {
    width: 411px;
    margin-bottom: 47px;
    line-height: 110%;
  }

  p {
    max-width: 361px;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: var(--landing-color-gray);
  }

  &__bg {
    position: absolute;
    left: -268px;
    bottom: 0;
  }
}
