.MainLanding-our-partner {
  &__list {
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px 68px;
  }
}

.adaptive .MainLanding-our-partner {
  &__list {
    gap: 25px 5px;
  }

  .isvg {
    margin: 0 auto;
  }

  svg {
    width: 148px;
    height: 40px;
  }
}
