.Translation {
  &__wrapper {
    width: 400px;
    padding: 30px 40px 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--foreground-primary);
    margin-bottom: 8px;
    padding: 0 15px;
  }

  &__button {
    text-align: center;
    margin-top: 40px;
    .Button {
      width: 160px;
    }
  }

  &__key {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 28px;
    padding: 0 15px;
  }

  &__lang {
    display: flex;
    justify-content: space-between;
    span {
      width: 16px;
      cursor: pointer;
    }
  }


}

.Input__wrapper {
  margin-top: 20px;
}