.Exchange__block {
  display: flex;
  flex-direction: column;

  .EmptyContentBlock .Button.middle {
    min-width: 160px;
  }
}

.Exchange__block__head {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  user-select: none;
  flex: 0 0 auto;
}

.Exchange__block__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex: 1;
  align-items: center;

  &:before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../../../../../../asset/24px/angle-up-small.svg') no-repeat center/contain;
    transition: transform 150ms ease-in-out;
  }
  .Exchange__block.collapsed &:before {
    transform: rotate(180deg);
  }

  .Exchange__block.skip_collapse &:before {
    display: none;
  }
}

.Exchange__block__head__controls {
  flex: 0 0 auto;
  display: flex;

  .Button {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.Exchange__block__content {
  padding: 0 16px 16px 16px;
  height: 100%;
  flex: 1;

  .Exchange__block.skip_padding & {
    padding: 0 0 16px 0;
  }

  .Exchange__block.collapsed & {
    display: none;
  }
}

.Exchange__block__tabs {
  display: flex;
}

.Exchange__block__tab {
  position: relative;
  margin-left: 24px;
  height: 56px;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 1px;
    background: var(--gradient-primary);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
  }

  &.active {
    cursor: default;
  }

  &.active:after {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }
}

.Exchange__block__tab__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  color: var(--primary-grey);
  transition: color 150ms ease-in-out;
  pointer-events: none;

  .Exchange__block__tab.active &,
  .Exchange__block__tab:hover & {
    color: var(--foreground-primary);
  }
}
