.Currency {
  &__arrow {
    margin: 0 6px;
    display: flex;
    justify-content: center;

    :global(.isvg) {
      margin: 0 !important;
    }
  }

  :global {
    .WalletIcon,
    .DoubleWallets {
      margin-right: 5px;
    }
  }
}
