
.DepositInfoModal__icon {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  background: no-repeat center/contain;
}

.DepositInfoModal__cont {
  width: 664px;
  padding: 40px;
}

.DepositInfoModal__columns {
  display: flex;
  width: 100%;
}

.DepositInfoModal__column {
  flex: 1;
  max-width: 50%;
}

.DepositInfoModal__withdrawal_form {
  display: flex;
  align-items: center;
  margin-top: 40px;

  .Button {
    margin-left: 16px;
  }
}

.DepositInfoModal__withdrawal_form__currency {
  color: var(--primary-grey);
}