.PageContainer {
  --site-bar-width: 280px;
  --content-width: 648px;

  display: flex;
  width: calc(var(--content-width) + var(--site-bar-width) + var(--gap-size));
  margin: var(--gap-size) auto;
}

.PageContainer__content {
  width: var(--content-width);
}

.PageContainer__sideBar {
  margin-right: 24px;
  width: var(--site-bar-width);
  flex: 0 0 auto;
}