@import '../../../../vars';

.PageContainer {
  --site-bar-width: 208px;
  --content-width: 1300px;
  --container-padding: 18px;
  --header-height: 58px;

  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px var(--container-padding) var(--container-padding);
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height));
}

.PageContainer__content {
  display: flex;
  flex-direction: column;
  max-width: calc(100vw - var(--site-bar-width) - var(--container-padding));
  width: 100%;
  position: relative;
  z-index: 1;
}

.PageContainer__sideBar {
  margin-right: 25px;
  max-width: var(--site-bar-width);
  width: 100%;
  position: relative;
  z-index: 2;
}

@media (max-width: @mobile-width) {
  .PageContainer {
    --site-bar-width: 100%;
    --content-width: 100%;
    --header-height: 49px;

    width: 100%;
    padding: 17px 10px 10px;
    position: relative;
    box-sizing: border-box;
    // 17px padding top, 10px padding bottom
    min-height: calc(100vh - var(--header-height) - 17px - 10px);

    flex-direction: column;

    &__content {
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}