.ExchangeChart__wrap {
  padding: 0 16px;
}

.ExchangeChart__tooltip {
  width: 432px;
  display: flex;
  background: #fff;
}

.ExchangeChart__tooltip__column {
  flex: 1;
}

.ExchangeChart__tooltip__row {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.ExchangeChart__tooltip__row__label {
  color: var(--primary-grey);
}

.ExchangeChart__tooltip__row__value {
  margin-left: 8px;
}

.Exchange__trading_view {
  padding: 0 16px 16px;
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;

  &.fullscreen {
    padding: 0;
  }
}

.adaptive {
  .Exchange__trading_view {
    padding: 16px;
    height: 400px;
  }
}