.ActionsSheet {
  position: relative;
  width: fit-content;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  .isvg {
    color: var(--uikit-foreground-secondary);
  }

  &:not(.visible) .ActionsSheet__list{
    display: none;
  }

  .ActionsSheet__list {
    min-width: 160px;
    position: absolute !important;
    z-index: 10;
    margin: 0;
    top: 0;
    left: 0;

    .ContentBox__content {
      padding: 8px 0;
    }
  }

  &.left {
    .ActionsSheet__list {
      right: 0;
      left: auto;
    }
  }

  .ActionsSheet__item {
    white-space: nowrap;
    cursor: pointer;
    padding: 12px 24px;
    color: var(--uikit-foreground-secondary);
    display: flex;

    &.destructive .ActionsSheet__item__title {
      color: var(--primary-red);
    }

    &:not(.destructive):hover .ActionsSheet__item__title {
      color: black;
    }

    .ActionsSheet__item__sub {
      margin-left: auto;
      padding-left: 24px;
    }
  }
}