.DepositModal {
  .isvg {
    display: flex;
    align-items: center;
  }

  // Text styles
  .blue {
    color: var(--secondary-blue);
  }
  .dark {
    color: var(--dark-black);
  }
  .secondary {
    color: var(--cool-gray);
  }

  .extra-small {
    font-size: 12px;
  }

  .small {
    font-size: 14px;
  }

  .medium {
    font-size: 16px;
  }

  .default {
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.01em;
  }

  .hight-height {
    line-height: 150%;
  }

  .blue:not(.extra-small) {
    margin-top: 10px;
  }
}
