@import "../../../vars";

.SiteHeader {
  position: absolute;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}

.SiteHeader__cont {
  width: @site-container-width;
  height: @site-header-height;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SiteHeader__logo {
  width: 31px;
  color: var(--primary);

  &:active {
    transform: translateY(1px);
  }
}

.SiteHeader__menu {
  display: flex;
  align-items: center;
}

.SiteHeader__menu__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: var(--contrast-primary);
  margin-left: 10px;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  &:active {
    transform: translateY(1px);
  }

  .isvg {
    width: 9px;
    margin-left: 7px;
    line-height: 9px;
  }
}

.SiteHeader__menu_controls {
  margin-left: 76px;
  display: flex;
  align-items: center;

  .Button {
    margin: 0 30px;
  }

  .SiteHeader__menu__item {
    margin-left: 0;
  }
}
