.DepositModal__Bank {
  .Modal__box {
    max-width: 691.61px;
    width: 100%;
  }

  .DepositModal__container {
    padding: 11px 36px 16px 9px;
    background: var(--alice-blue);
    box-sizing: border-box;
  }

  &__container {
    height: 585px;
    flex: 1 1;
    box-sizing: border-box;
  }

  .bankIcon {
    height: 30px;
    margin-right: 25px;
  }
}
