.DepositModal__Bank {
  .Modal__box {
    width: 100%;
  }

  &.small {
    .Modal__box {
      max-width: 441px;
    }
  }

  &.medium {
    .Modal__box {
      max-width: 468px;
    }
  }

  .DepositModal__container {
    padding: 0;
    background: #fff;
    box-sizing: border-box;
  }

  &__container {
    min-height: 529px;
    flex: 1 1;
    box-sizing: border-box;
  }

  .BankLogo {
    margin-right: 25px;
  }

  .bankIcon {
    height: 30px;
    margin-right: 25px;
    max-width: 80%;
  }

  .Button {
    height: 50px;

    &__label {
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
    }
  }
}

.adaptive .DepositModal__Bank {
  &.small .Modal__box,
  &.medium .Modal__box {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  &__container {
    align-items: flex-start !important;
    min-height: 0;
  }

  .DepositModal__container {
    width: 100%;
    padding: 0;
  }

  &__sidebar {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
