.TransactionHistory__tableAdaptive {
  &-operation,
  &-date,
  &-link,
  &-status,
  &-currency {
    color: var(--dark-black);
    line-height: 100%;
    font-weight: 600;
  }

  &-operation,
  &-date,
  &-link {
    font-size: 12px;
    text-transform: capitalize;
  }

  &-currency {
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
  }

  &-status {
    font-weight: 500;
    font-size: 12px;
    color: var(--cool-gray);
  }

  &-link {
    color: var(--royal-blue);
  }

  &-date {
    margin-bottom: 4px;
    color: var(--cool-gray);
  }

  &__item {
    background: var(--alice-blue);
    border-radius: var(--radius-panel);

    & > .Row {
      box-sizing: border-box;

      &:first-child {
        padding: 12px 0 16px 12px;
        border-bottom: 1px solid #eeeeee;
      }
      &:last-child {
        padding: 0 12px 12px 12px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .WalletIcon,
  .DoubleWallets {
    margin-right: 5px;
  }

  .TransactionHistory {
    &__icon {
      &-export {
        margin-left: 4px;

        .isvg {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-arrow {
        margin: 0 6px;
        display: flex;
        justify-content: center;
        .isvg {
          margin: 0 !important;
        }
      }

      &-sortArrow {
        margin-left: 4px;

        &.up {
          svg {
            transform: rotate(-180deg);
          }
        }

        .isvg {
          svg {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
}
