.ApiKey .ContentBox__content, .ApiKey__Item .ContentBox__content {
  padding: 40px 40px 48px;
}

.ApiKey__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--foreground-primary);
}

.ApiCreateKey__form {
  display: flex;
  margin-top: 16px;
  .Button  {
    margin-left: 16px;
  }
}

.ApiKey__Item {
  margin-top: 22px;
  .ApiKey__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .ApiKey__buttons .Button{
    margin-left: 8px;
  }
}

.ApiKey__information-title {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--secondary-grey);
  margin-bottom: 5px;
}

.ApiKey__svg {
  vertical-align: sub;
  margin-right: 9px;
}

.ApiKey__key, .ApiKey__secret, .ApiKey__restrictions {
  margin-bottom: 24px;
}

.ApiKey__secret {
  cursor: pointer;
}

.ApiKey__text, .CheckBox__label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--foreground-primary);
  word-break: break-all;
}

.ApiKey__restrictions {
  .CheckBox{
    display: inline-flex;
    margin-right: 25px;
  }
}

.ApiKey__ipAdress {
  .Radio {
    margin-bottom: 10px;
    .Radio__label {
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      color: var(--foreground-primary);
      word-break: break-all;
      span {
        color: var(--primary-red);
      }
    }
  }
  .ApiKey__ipAddAdress {
    margin: 30px 0 40px;
    width: 344px;
  }
}

.adaptive .ApiKey {
  margin-top: 25px;
}
