.ApiKey .ContentBox__content {
  padding: 40px 40px 48px;
}

.ApiKey__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.ApiCreateKey__form {
  display: flex;
  margin-top: 16px;
  .Button  {
    width: 192px;
    margin-left: 16px;
  }
}

.ApiKey {
  margin-top: 22px;
  .ApiKey__block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .ApiKey__buttons .Button{
    margin-left: 8px;
  }
}

.ApiKey__information-title {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #808080;
  margin-bottom: 5px;
}

.ApiKey__svg {
  vertical-align: sub;
  margin-right: 9px;
}

.ApiKey__key, .ApiKey__secret, .ApiKey__restrictions {
  margin-bottom: 24px;
}

.ApiKey__secret {
  cursor: pointer;
}

.ApiKey__text, .CheckBox__label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
  word-break: break-all;
}
.ApiKey__restrictions{
  .CheckBox{
    display: inline-flex;
    margin-right: 48px;
  }
}

.ApiKey__ipAdress {
  .Radio{
    margin-bottom: 10px;
    .Radio__label {
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      color: #212121;
      word-break: break-all;
      span {
        color: #FA4E3E
      }
    }
  }
}
