.TokenMigrationLanding {
  padding-top: 30px;

  h1,
  h2 {
    margin-bottom: 18px;
    font-weight: 600;
  }

  h1 {
    font-size: 62px;
    line-height: 110%;
  }

  h2 {
    font-size: 26px;
    line-height: 134%;
  }

  p,
  ol {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #939393;
  }

  ol {
    margin-bottom: 25.6px;
  }

  &__blocks {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    gap: 70px 10px;
  }

  &__more {
    margin-top: 18px;
  }

  .blue {
    color: var(--royal-blue);
  }
}
