.CabinetModal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;

  .Modal__box {
    padding: 0;
    background: transparent;
  }

  &__container {
    & > * {
      position: relative;
      transform: none;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      max-height: 100% !important;
      box-shadow: none;
    }
  }

  .adaptive & {
    padding: 0;
    height: auto;
    min-height: 100vh;
    background: transparent;
    overflow: hidden;

    .Modal__box {
      box-shadow: none;
      padding: 20px 30px;
      top: 50%;
      transform: translateY(-50%);
      overflow-y: scroll;
      max-height: 100vh;
    }

    &__container {
      & > * {
        width: 100% !important;
        max-width: 500px;
        margin: 0 auto;
        border: none;
      }
    }

    .Modal__back {
      background: rgba(1, 1, 1, 0.25);
    }
  }
}
