html,
body,
#root,
#root > div {
  height: 100%;
}

.MainScreen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .MainScreen__wrapper {
    text-align: center;
  }

  h1 {
    margin: 0.5em 0;
  }

  p {
    margin: 1em 0;
  }
}
