.DepositModal__Balance {
  .DepositModal__container {
    padding: 32px 35.5px;
    width: 100%;
    max-width: 436px;
    box-sizing: border-box;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-gunmetal);
    margin-bottom: 29px;
  }

  .CabinetSelect {
    margin-bottom: 24px;

    &__control {
      height: 60px;
      border-radius: 15px !important;
      border: none !important;
    }

    &__menu {
      border-radius: 15px;
      overflow: hidden;
      box-shadow: none;
      background: var(--alice-blue);
    }

    &__single-value {
      width: 100%;
    }

    &__value-container {
      height: 31px;
    }

    &__option {
      cursor: pointer;
      padding: 12px 18px 12px 12px;

      &:last-child {
        padding-bottom: 21px;
      }
    }

    &__option-icon {
      width: 31px;
      height: 31px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__option-title,
    &__option-value {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--dark-black);
    }

    &__indicators {
      .isvg {
        svg {
          path {
            fill: #cdcfd7;
          }
        }
      }
    }
  }

  .DappInput {
    color: var(--dark-black);
    padding-left: 19px;
    background: var(--alice-blue);
    border-radius: 15px;
    border: none;
    border-color: transparent !important;

    &.error {
      border: 1px solid #e83a2a !important;

      &,
      &::placeholder {
        color: #e83a2a;
      }
    }

    &__wrapper {
      --input-height: 60px;
      margin-bottom: 24px;
    }

    &,
    &::placeholder,
    &__indicator {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }

    &::placeholder,
    &__indicator {
      color: var(--cool-gray);
    }

    &__prompt {
      position: absolute;
      right: 18px;
    }
  }

  &-buttons {
    margin-top: 24px;

    .Button {
      height: 50px;
      flex: 1 1 40%;

      &__label {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
      }

      &:first-child {
        margin-right: 15px;
      }
    }
  }

  .TokenSelect__wrap {
    .CabinetBlock {
      padding: 0;
    }
  }

  &__dropdown {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 9px 8px;
    margin-bottom: 24px;
    position: relative;
    background: var(--secondary-background);
    cursor: pointer;

    &-rate {
      position: absolute;
      top: 100%;
      margin-top: 6px;
      left: 12px;
      font-size: 11px;
      color: var(--gray);
      font-weight: 500;
    }
  }
  &__track {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: -4px;
    text-decoration: none;
    font-size: 12px;
    color: var(--primary-blue);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__icon {
    cursor: pointer;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;

    .isvg,
    svg,
    img {
      width: 100%;
    }
  }

  &__select {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    cursor: pointer;

    // Medium text in select (subtitle)
    & > span {
      color: #cdcfd7;
      margin-bottom: 4px;
    }
  }

  &__currency {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.01em;

    // Select icon
    .isvg {
      position: absolute;
      right: 12px;
      top: 50%;
      margin-top: -5px;
    }
  }
}

.adaptive .DepositModal__Balance {
  .DepositModal__container {
    max-width: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0px 15px 75px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px 18.5px;
  }

  h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 23px;
  }

  .CabinetSelect {
    &__option-icon {
      margin-right: 5px;
      width: 25px;
      height: 25px;
    }

    &__option-title,
    &__option-value {
      font-size: 14px;
    }
  }

  .DappInput {
    &,
    &::placeholder,
    &__indicator {
      font-size: 14px;
    }

    &__indicator {
      padding-right: 11.5px;
    }
  }

  &-buttons {
    margin: 24px -7.5px 0;
    width: auto;

    .Button {
      min-width: 210px;
      margin: 0 7.5px;
      
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &__label {
        font-size: 14px;
        line-height: 100%;
      }
    }
  }
}
