@import "../../vars";

.Input__wrapper {
  width: 100%;
  position: relative;
  border-radius: @border-radius;
}

.Input {
  height: 48px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.05);
  background: var(--uitkit-background);
  border-radius: @border-radius;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  outline: none;
  padding: 14px 16px;
  transition: all 150ms ease-in-out;
  width: 100%;

  &:focus, &:valid {
    border-color: var(--uikit-primary);
    box-shadow: none;
  }

  &.multiLine {
    height: 100px;
    resize: none;
    padding: 12px 16px;
  }
}

.Input__indicator {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}
