.getType(@type, @size, @marginRight) {
  &:global(.@{type}) {
    height: @size;
    width: @size;

    &:global(.left) {
      margin-right: @marginRight;
    }
  }
}

.Avatar {
  .getType(small, 30px, 8px);
  .getType(medium, 50px, 14px);
  .getType(large, 50px, 14px);
}
