.SiteAboutScreen__heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.2px;
  color: var(--contrast-primary);
  padding-top: 35px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SiteAboutScreen__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .Button {
    margin: 11px;
  }

  .inactive {
    opacity: 0.45;
  }
}

.SiteAboutScreen__intro {
  padding-top: 50px;
  margin-bottom: 124px;
}

.SiteAboutScreen__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-align: justify;
  letter-spacing: 0.444444px;
  margin-top: 35px;
  margin-bottom: 120px;
  color: var(--foreground-secondary);
}

.SiteAboutScreen__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.2px;
  color: var(--foreground-primary);
  padding-top: 110px;
}



.SiteAboutScreen__career {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 15px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2874px;
    height: 100%;
    transform: translateX(-50%);
    background: var(--secondary-active-background);
    z-index: -2;
  }

  .SiteAboutScreen__career__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 1.02px;
    color: #FFB05F;
    margin: 15px;
  }

  .SiteAboutScreen__career__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.444444px;
    color: #A6A6A6;
    margin-bottom: 20px;
  }
}


.SiteAboutScreen__link {
  display: inline-flex;
  align-items: center;
  height: 36px;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none !important;

  &:after {
    content: '';
    width: 5px;
    height: 9px;
    background: url('../../../asset/site/link_arrow.svg') no-repeat center/contain;
    margin-left: 6px;
    display: block;
    flex: 0 0 auto;
    transition: transform 150ms ease-in-out;
  }

  &:hover:after {
    transform: translateX(2px);
  }

}

.SiteAboutScreen__infocards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 10px;

  @media (max-width: 992px) { flex-wrap: wrap; }

  .SiteAboutScreen__infocard {
    flex-basis: 390px;
    margin: 30px 15px;
  }
}

.SiteAboutScreen__divider {
  width: 1px;
  height: 140px;
  background: #9A9A9A;

  @media (max-width: 992px) { display: none; }
}

.SiteAboutScreen__mission__values {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2874px;
    height: 100%;
    transform: translateX(-50%);
    background: var(--secondary-active-background);
    z-index: -2;
  }
}

.SiteAboutScreen__mission__values__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.2px;
  padding: 80px 10px;
}

.SiteAboutScreen__mission__value__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-align: justify;
  letter-spacing: 0.444444px;
  color: var(--foreground-secondary);

  @media (max-width: 768px) { text-align: center; }
}

.SiteAboutScreen__mission__value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 80px;

  @media (min-width: 1200px) { margin: 0 140px; }
  @media (max-width: 768px) { flex-direction: column; text-align: center; }

  .SiteAboutScreen__mission__value__icon {
    flex: 2;
    margin: 0 30px;
  }

  .SiteAboutScreen__mission__value__cont {
    flex: 10;

    .SiteAboutScreen__mission__value__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 56px;
      letter-spacing: 0.599999px;
    }
  }
}

.SiteAboutScreen__history__timeline {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2874px;
    height: 100%;
    transform: translateX(-50%);
    background: var(--secondary-active-background);
    z-index: -2;
  }
}