.List {
  display: table;
  border-spacing: 8px;

  .List__item {
    display: table-row;;

    .List__item__label,
    .List__item__value {
      display: table-cell;
    }

    .List__item__label {
      color: var(--uikit-foreground-secondary);
    }
  }
}