.List {
  display: table;
  border-spacing: 16px;

  .List__item {
    display: table-row;

    &.margin {
      & > * {
        padding-bottom: 16px;
      }
    }

    .List__item__label,
    .List__item__value {
      display: table-cell;
    }

    .List__item__value {
      word-break: break-word;
      display: flex;
    }

    .List__item__label {
      text-align: right;
      color: var(--text-black);
    }
  }
}

.Admin_wrapper .List__item {
  .Group {
    align-items: center;
  }

  .Button {
    margin-left: 8px;
  }
}
