.DappUI__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  &,
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
  }

  &__bg {
    background: linear-gradient(
      179.85deg,
      #ffffff 0.13%,
      rgba(255, 255, 255, 0.71) 107.49%
    );
  }

  &__container {
    padding: 28px;
    position: relative;
  }
}
