.Tooltip__wrapper {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: help;

  .Tooltip {
    opacity: 0;
    font-size: 11px;
    line-height: 16px;
    padding: 12px;
    position: absolute;
    z-index: 3;
    background: white;
    border-radius: 8px;
    transform: translate(0, calc(100%));
    width: max-content;
    max-width: 200px;
    bottom: 0;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    color: #4D4D4D;

    &:before {
      position: absolute;
      content: '';
      display: block;
      height: 12px;
      width: 12px;
      background: inherit;
      z-index: -2;
      transform: rotate(45deg);
      left: 0;
      right: 0;
      margin: auto;
      top: -6px;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: inherit;
      background: inherit;
      z-index: -1;
    }

    .Tooltip__area {
      bottom: -12px;
      left: 0;
      width: 100%;
      position: absolute;
      height: 12px;
    }
  }

  &:hover .Tooltip {
    opacity: 1;
    transform: translate(0, calc(100% + 12px));
    transition: opacity.2s ease, transform.2s ease;
    pointer-events: all;
  }
}
