.ScrollbarBox {
  .ScrollbarTrackY {
    display: flex !important;
    background: none !important;
    width: 4px !important;
  }

  .ScrollbarThumbY {
    background: var(--royal-blue) !important;
    border-radius: 20px !important;
    opacity: 0.1;
  }
}
