.Header {
  margin: 0;
  border-radius: 0;

  .ContentBox__content {
    padding: 12px 32px;
    display: flex;
    align-items: center;
  }

  .Header__title {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
    border-left: 1px solid;
    color: var(--dark-blue);
    margin-left: 24px;
    padding-left: 23px;
  }

  .Header__menu {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .Header__menu_item {
      cursor: pointer;
      color: var(--text-black);
      margin-left: 40px;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &-balances {
    display: flex;
  }
  &-balance {
    display: flex;
    align-items: center;
    margin: 4px 12px;

    &-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    &-amount {
      font-size: 12px;
      font-weight: 600;
      margin-left: 6px;
    }
    &-currency {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 6px;
      opacity: 0.5;
    }
  }
}
