@import url(../../PaymentConfirmation.less);

.@{modal-class}.@{sell-class} {
  .Radio {
    align-items: flex-start;

    &:not(:first-child) {
      margin-top: 17px;
    }

    p {
      line-height: 18px;
    }
  }
}
