.p2p-order .p2p-order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  h3 {
    margin-bottom: 13px;
  }

  &__chat-icon {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }
}

.adaptive .p2p-order .p2p-order-header {
  align-items: flex-start;

  h3 {
    margin-bottom: 10px;
  }

  & > * {
    &:first-child {
      max-width: 72%;
    }
  }
}
