.FarmingAdaptiveItem {
  &:nth-child(odd) {
    .FarmingAdaptiveItem_default {
      background: var(--alice-blue);
    }
  }

  &_default {
    padding: 12px;
    width: 100%;
    border-radius: var(--radius-panel);
    box-sizing: border-box;

    & > .row {
      justify-content: space-between;
      align-items: center;

      &:first-child {
        margin-bottom: 16px;
      }

      .col {
        position: relative;

        .LoadingStatus {
          margin-left: 12px;
        }
        &:nth-child(2) {
          width: 56px;
          margin-left: auto;
          margin-right: 45px;
        }

        &:nth-child(3) {
          width: 14px;
          align-items: center;
        }
      }
    }
  }
}
