@import '../../../../../../../../vars.less';

.FarmingPopup {
  // Containers
  &__header {
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;

    p {
      margin-bottom: 8px;
    }
  }

  &__footer {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--cool-gray);

    a {
      text-decoration: underline;
      color: var(--dark-black);
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__fullscreen {
    .Modal {
      &__box {
        padding: 32px 32.5px;
      }
    }

    .close {
      position: absolute;
      top: 37.7px;
      right: 32.5px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    p {
      max-width: 100%;
    }
  }

  &.FarmingPopupStake {
    .Modal__box {
      max-width: 388px;
      width: 100%;
      border-radius: var(--radius-panel);
    }

    .Button {
      margin: 0 0 16px;
    }
  }

  // Components
  .title {
    margin-bottom: 8px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #222330;
  }

  .success-title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #5ec47a;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 175%;
    color: var(--cool-gray);
  }

  .popup-link {
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #000;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .balance {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }

  .basic,
  .balance {
    color: var(--dark-black);
  }

  .basic,
  .popup-link,
  .Input {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
  }

  label {
    margin: 12px 0 24px;
    width: 100%;
  }

  // <Input />
  .Input {
    width: 100%;
    padding: 16px 54px 13px 16px;
    border: none;
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .input-controls {
    position: absolute;
    right: 8px;
    padding: 8px;
    background: #fff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;

    span {
      background: linear-gradient(135deg, #78a0ff 0%, #5078e6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  // <Button />
  .Button {
    height: 46px;
    width: 100%;
    margin: 12px 0 20px;
  }

  .isvg {
    display: inline-flex;
    align-items: center;
    margin: 0 4px;
  }

  // <Table />
  &__table {
    margin-top: 12px;
    border: none;
    border-radius: 0;

    td:last-child .Table__td__cont {
      padding-right: 0;
    }

    thead {
      .Table__td__cont {
        min-height: 14px;
        padding-bottom: 12px;
      }

      td:first-child .Table__td__cont {
        padding-left: 0;
      }
    }

    tbody {
      // Borders radius
      tr:last-child td:first-child {
        border-radius: 0 0 0 var(--radius-panel);
      }

      tr:last-child td:last-child {
        border-radius: 0 0 var(--radius-panel) 0;
      }

      tr:first-child td:first-child {
        border-radius: var(--radius-panel) 0 0 0;
      }

      tr:first-child td:last-child {
        border-radius: 0 var(--radius-panel) 0 0;
      }
    }
  }
}
