@import '../../../../vars.less';

.DoubleWallets {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--black-gunmetal);

  .isvg {
    border-radius: 50%;
    margin-left: 0 !important;

    &:last-child {
      margin-right: 8px;
    }

    &:nth-child(2) {
      position: relative;
      margin-left: -9px !important;
    }

    &,
    svg {
      width: 24px;
      height: 24px;
    }

    svg {
      border-radius: 50%;
      box-shadow: 0 0 0 2px #f7f9fc;
    }
  }
}
