.p2p-orders .orders-list {
  color: var(--dark-black);

  &-item {
  }

  &-user {
    display: flex;
    flex-direction: column;

    &__profile {
      display: flex;
      align-items: center;
    }
    &__info {
      margin: 7px 0 0 35px;
      font-weight: 400;
      font-size: 11px;
      line-height: 105%;

      span:first-child:not(:last-child) {
        position: relative;
        padding-right: 4px;
        margin-right: 7px;

        &::after {
          content: '';
          position: absolute;
          width: 1px;
          height: 7px;
          background: var(--cool-gray);
          top: 50%;
          right: -1px;
          transform: translateY(-50%);
        }
      }
    }

    &__avatar {
      width: 25px;
      height: 25px;
    }

    &__name {
      margin: 0 5px 0 10px;
    }
  }

  &-user__name,
  &-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &-price .Number {
    margin-left: 8px;
  }
}
