.CircleIcon {
  position: relative;
  background: var(--cloudy);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  color: var(--text-black);
  overflow: hidden;

  &.color {
    background: none;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      background: currentColor;
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      opacity: .12;
    }
  }

  &.skeleton {
    animation: skeleton 1s linear infinite;
  }

  &.small {
    height: 32px;
    width: 32px;
  }

  &.extra_small {
    height: 24px;
    width: 24px;
  }

  .isvg {
    margin: auto;
    height: 24px;
  }

  .CircleIcon__icon {
    height: inherit;
    width: inherit;
    background-position: center;
    background-size: contain;
  }
}
