@import '../../../../../vars';

.Company__About {
  background: var(--primary-background);

  padding: 160px 0;

  @media (max-width: @mobile-width) {
    padding: 80px 0;
  }

  .Company__About__content {
    max-width: 736px;

    h1 {
      font-weight: 600;
      font-size: var(--font-size-title);
      line-height: 1.4em;
      margin-bottom: 32px;

      @media (max-width: @mobile-width) {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
      }
    }

    .Editor {
      font-size: var(--font-size-landing);
      line-height: 1.5em;
      color: var(--text-secondary);

      @media (max-width: @mobile-width) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}