@import '../../../../../../vars.less';

.WalletsExists {
  display: flex;
  height: 100%;

  .WalletsHeader {
    margin-bottom: 39px;
  }

  &__container {
    padding: 31px 27px 31px 36px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-right: 9px; // > 36px horizontal paddings.

    .CabinetBlock {
      background: var(--alice-blue) !important;
      padding: 17px 0px 25px;
      width: 100%;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        max-width: 474px;
      }
    }
  }

  &__items_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    & > span {
      &:first-child {
        // Title
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        color: var(--cool-gray);
      }
    }
  }
}
