@import '../../../../../../vars.less';

.WalletsExists {
  display: flex;
  height: 100%;

  .WalletsHeader {
    margin-bottom: 39px;
  }

  &__container {
    padding: 31px 27px 30px 36px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-right: 9px; // > 36px horizontal paddings.

    .CabinetBlock {
      background: var(--alice-blue) !important;
      padding: 17px 0px 25px;
      width: 100%;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        max-width: 474px;
      }
    }
  }

  &__items_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0 24px;

    & > span {
      &:first-child {
        // Title
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        color: var(--cool-gray);
      }
    }
  }

  .WalletsList {
    // Horizontal paddings to scroll fix at right.
    padding: 0 38px 0 24px;
    box-sizing: border-box;
    img {
      width: 39px;
      height: 39px;
    }

    .WalletsListItem {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &__column {
        justify-content: center;
      }

      .RateIndicator {
        margin-left: 17px;
      }
    }
  }

  .WalletsListItem__text {
    &-medium {
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: -0.01em;
      margin-bottom: 0;
    }

    &-large {
      font-weight: 600;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: -0.01em;
      margin-bottom: 5px;
      color: var(--dark-black);
    }
  }

  .ScrollbarBox-container {
    margin-top: 23px;
    width: 100%;
    height: calc(100% - 46px);
  }
}

.CabinetWallets__tokens {
  &-controls {
    div:last-child {
      margin-left: 23px;
    }
  }

  &-controls,
  &-content {
    display: flex;
    align-items: center;
  }
}
