.SiteFeeScreen {
  h2 {
    color: var(--primary-grey);
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    margin: 80px 0 56px;
  }

  .SiteFeeScreen__table {
    margin-bottom: 56px;

    .ContentBox__content {
      overflow: hidden;
      padding: 0;
    }

    table {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      border-collapse: collapse;
      position: relative;
      margin: -1px;
    }

    th, td {
      padding: 32px 40px;

      @media (max-width: 1000px) {
        padding: 16px 20px;
      }
      border: 1px solid #CCCCCC;
      text-align: center;

      &:first-child {
        width: 27%;
        text-align: left;
        border-right-color: #658BF5;
      }
    }

    p {
      text-align: left;
    }

    td {
      vertical-align: top;
    }

    th {
      vertical-align: top;
      border-bottom-color: #658BF5;
    }

    th, tr td:first-child {
      font-weight: 600;
    }
  }

  .SiteFeeScreen__list {
    font-size: 15px;
    line-height: 24px;
    border-bottom: 1px solid #658BF5;
    margin-bottom: 56px;

    .SiteFeeScreen__list__title {
      text-align: center;
      margin-bottom: 28px;
    }
    .SiteFeeScreen__list__row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;

      .SiteFeeScreen__list__value {
        text-align: right;
      }
    }
    .SiteFeeScreen__list__label {
      font-weight: 600;
      margin-right: 1em;
    }

    .SiteFeeScreen__list__item {
      margin-bottom: 32px;
    }
  }
}


.adaptive {
  .SiteFeeScreen {
    padding: 0 16px;

    .SiteContactScreen__heading {
      text-align: left;
      align-items: initial;

      p {
        margin-top: 8px;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}
