.Group {
  display: flex;
  margin: 0 5px;

  & > * {
    margin-right: 8px;
    align-self: center;
  }

  & > .Button {
    margin-right: 16px;
  }

  .Block {
    align-self: auto;
    flex: 1;
    margin: 12px;
  }
}
