.AppealHistory {
  padding: 40px 15px 40px 50px !important;

  h3 {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  :global(.ScrollbarBox-content) {
    padding-right: 33px;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
