.Account {
  padding: 50px;
  background: #fff;
  border-radius: var(--radius-panel);

  &__header {
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    &__item {
    }
  }
}

:global(.adaptive) {
  .Account {
  }
}
