.SuccessModal {
  .SuccessModal__content {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .SuccessModal__content__title {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: #40BF9D;
    }
  
    .SuccessModal__content__msg {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: var(--primary-grey);
      padding: 10px 20px;
      max-width: 200px;
      margin: 0 40px;
    }
  
    .SuccessModal__tick {
      margin: 40px;
    }
  }

  .Button {
    width: 160px;
    margin: 0;
  }
}