@import '../../../../../../../../vars.less';

.FarmingTable {
  // Containers
  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 24px;
  }

  // Components
  // -- <SwitchTabs />
  &__header .SwitchTabs {
    height: 46px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-right: 20px;

    &__item {
      padding: 14px 24px; // (12 + 4), (20 + 4). 4px is container padding.
      flex: auto; // to null default styles.

      &:not(.active) {
        span {
          background: var(--blue-light-gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    &__indicator span {
      border-radius: 10px;
    }
  }

  // -- <Select /> from Cabinet
  .CabinetSelect {
    &__control {
      height: 46px;
      background: none !important;
      border-radius: 10px !important;
    }
  }

  // -- <Search />
  .Search {
    margin-left: 12px;
    max-width: 152px;
    height: 46px;
    border-color: #dfe3f0;
    border-radius: 10px;
    box-sizing: border-box;

    .isvg {
      svg,
      path {
        fill: #dfe3f0;
      }
    }

    &__input {
      background: none !important;

      &::placeholder {
        color: var(--cool-gray) !important;
      }
    }
  }

  // -- <Table />
  &__table {
    border: none;
    width: 100%;

    .Table__td__cont {
      min-height: 0;
      padding: 0 !important;
      display: flex;
      align-items: start;
      justify-content: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      color: var(--black-gunmetal);
    }

    // All tds
    td {
      padding: 17px 0 14px 0;
      box-sizing: border-box;
    }

    tr td:first-child {
      padding-left: 16px;
      border-radius: var(--radius-panel) 0 0 var(--radius-panel);
    }
    tr td:last-child {
      border-radius: 0 var(--radius-panel) var(--radius-panel) 0;
    }

    thead {
      td {
        padding-top: 0 !important;
      }

      // Current titles
      .Table__sub {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--cool-gray);
      }
    }

    tbody {
      td:last-child {
        padding-right: 26px;

        .Table__td__cont {
          align-items: end;
        }
      }
    }
  }

  // -- <Indicator />
  &__indicator {
    padding: 6px 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: -0.01em;

    color: #fff;

    &.green {
      background: linear-gradient(90deg, #5ec47a 0%, #12cb45 100%);
      color: #ecf8f0;
    }

    &.red {
      background: linear-gradient(89.33deg, #f07f4f -0.62%, #ff5d17 99.42%);
    }
  }
}
