.LanguageModal {
  .Modal__box {
    max-height: 440px;
    overflow-y: auto;
  }
}


.LanguageModal__cont {
  padding: 20px;
  
  .LanguageModal__cont__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.444444px;
    color: var(--foreground-primary-opacity);
    margin: 0 0 30px;
  }
  
  .LanguageModal__cont__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 1fr));
    grid-gap: 24px 100px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(80px, 1fr));
      grid-gap: 24px;
    }
  
    .LanguageModal__cont__lang {
      display: flex;
      align-items: center;
      cursor: pointer;
  
      .isvg {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }
  }
}