.MainLanding-our-benefits {
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 150px;
    }
  }

  h2 {
    margin: 0 47px 35px;
  }
}

.adaptive .MainLanding-our-benefits {
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 86px;
    }
  }
}
