@import '../../../../vars.less';

.CabinetHeader {
  padding: 17px 0 2px;

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 18px;
    box-sizing: border-box;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    .dynamic-shadow {
      display: flex;
      position: relative;
      margin-left: 10px;
      z-index: 1;

      .Button {
        position: relative;
        height: 39px;

        .Button__label {
          display: flex;
          align-items: center;
        }

        .isvg {
          height: 23px;
          width: 23px;
          margin-right: 5px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 90.3%;
        height: 35px;
        z-index: -1;

        background: var(--blue-light-gradient);
        opacity: 0.5;
        filter: blur(45px);
        border-radius: 10px;
      }
    }

    .notifications {
      margin-left: 69px;
      position: relative;

      &__counter {
        position: absolute;
      }
    }
  }
}

.CabinetSelect {
  &__control {
    height: 39px;
    min-width: 150px !important;
    border: 1px solid #dfe3f0 !important;
    border-radius: 10px !important;
    padding: 0 11px !important;
  }

  &__value {
    &-container {
      padding: 0 !important;
    }
  }

  &__single {
    &-value {
    }
  }

  &__option,
  &__single-value {
    display: flex !important;
    align-items: center !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #0a1539;

    .isvg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }

  &__menu {
    &-list {
      padding: 0 !important;
    }
  }

  &__option {
    font-weight: 500;

    &:hover {
      background: #e4eafa !important;
    }

    &--is-selected {
      background: transparent !important;
      color: #0a1539 !important;
    }

    span {
      &:last-child {
        transform: translateY(1px);
      }
    }
  }
}
