@import '../../../../vars.less';
@header-height: 57px;
@adaptive-header-height: 48px;

.CabinetHeader {
  padding: 17px 0 2px;
  z-index: 2;

  &__container {
    display: flex;
    margin: 0 auto;
    padding: 0 18px;
    box-sizing: border-box;
  }

  &__logo {
    height: 38px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    .dynamic-shadow {
      display: flex;
      position: relative;
      margin-left: 10px;
      z-index: 1;

      .Button {
        position: relative;
        height: 39px;

        .Button__label {
          display: flex;
          align-items: center;
        }

        .isvg {
          height: 23px;
          width: 23px;
          margin-right: 5px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 90.3%;
        height: 35px;
        z-index: -1;

        background: var(--blue-light-gradient);
        opacity: 0.5;
        filter: blur(45px);
        border-radius: 10px;
      }
    }
  }

  &__notifications {
    display: flex;
    position: relative;
    margin-left: 69px;

    .Notifications {
      position: absolute;
      width: 648px;
      top: 100%;
      right: 0;
      z-index: 20;
    }

    .isvg {
      width: 25px;
      height: 25px;
    }
  }

  &__settings {
    position: relative;
    display: flex;
    color: #f7f9fc;
    cursor: pointer;

    .isvg {
      width: 25px;
      height: 25px;
    }

    .ContentBox {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 20;
    }
  }

  .ActionsSheet__item__sub {
    svg {
      width: 18px;
    }
  }

  // Token price
  &__wallet-rate {
    display: flex;
    align-items: center;
    height: 39px;
    padding: 0 8px;
    margin-left: 3px;
    box-sizing: border-box;
    border: 1px solid #dfe3f0;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: var(--dark-black);

    & > div {
      display: flex;
    }

    .full-number {
      color: #d3d5db;
    }

    span {
      display: inline-flex;
      align-items: center;
    }

    .isvg {
      svg {
        height: 22.5px;
        width: 15px;
      }
    }
  }

  // <Select />
  .CabinetSelect {
    &__value-container {
      height: 25px;
    }

    &__single-value {
      height: 23px;

      .isvg {
        display: flex;
        align-items: center;
        width: 23px;
        height: 23px;

        svg {
          width: 23px;
          height: 23px;
        }
      }
    }

    &__option {
      .isvg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;

        svg {
          width: 23px;
          height: 23px;
        }
      }
    }

    &__menu {
      min-width: 150px;

      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  .CabinetSelect__wallets {
    width: 172px;
    margin-right: 13px;
    margin-left: 3px;

    .CabinetSelect {
      &__single-value,
      &__menu {
        overflow: hidden !important;
        width: 100%;

        .CabinetSelect__option-title {
          word-break: break-all;
        }
      }

      &__option-icon {
        svg,
        path {
          fill: var(--blue-light-gradient-color-start) !important;
        }
      }
    }
  }

  // Burger Menu
  &__burger-menu {
    width: 43px;
    min-width: 43px;
    margin-right: 3.38%;
    padding: 12px 11px 11px;
    background: #fff;
    border-radius: var(--radius-panel);
    box-sizing: border-box;
    cursor: pointer;

    span {
      display: block;
      background: var(--royal-blue);
      height: 2.72px;
      width: 100%;
      border-radius: 2px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    span:nth-child(1) {
    }
    span:nth-child(2) {
    }
    span:nth-child(3) {
      width: 63.63%;
    }
  }
}

.CabinetHeader__connect {
  margin-left: 10px;
}
.CabinetHeader__account-address {
  color: var(--blue-light-gradient-color-end);
  font-size: 12px;
}

@media screen and (max-width: @mobile-width) {
  body {
    --header-height: 52.16px !important;
  }

  .CabinetHeader {
    position: relative;
    padding: 11px 0 2px;
    z-index: 50;

    &__container {
      padding: 0 10px;
    }
    // <Select />
    .CabinetSelect {
      &,
      &__control {
        min-width: 0 !important;
        width: 63px;
      }

      &__control {
        padding: 0 9px !important;
      }
    }

    .wallet-connect__button {
      width: 47px;
      .Button__label {
        .isvg {
          margin-right: 0;
        }
      }
    }
  }
}
