.setPaymentMethod {
  h2,
  h3 {
    font-weight: 600;
    color: var(--dark-black);
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }

  :global {
    .Modal__box {
      max-width: 550px;
      width: 100%;
    }
  }
}

.container {
  background: #fff;
  box-sizing: border-box;
  padding: 40px;
  border-radius: var(--radius-panel);
}

.row {
  margin: 20px -8px;
  padding: 8px 12px;
  border-radius: var(--radius-panel);
  cursor: pointer;

  &:hover {
    background: var(--azureish-white);
  }
}
.field {
  b {
    font-weight: 500;
  }
  span {
    margin-left: 10px;
  }
}

:global(.adaptive) .setPaymentMethod {
  h2 {
    font-size: 16px;
    line-height: 20px;
  }

  h3 {
    font-size: 14px;
  }
}

:global(.adaptive) .container {
  padding: 52px 18px 30px;
}
