.p2p .orders-blog-card {
  max-width: 100%;
  min-width: 300px;
  border-radius: 18px;
  overflow: hidden;
  background: var(--alice-blue);

  img {
    width: 100%;
  }

  h5 {
    margin-bottom: 10px;
  }

  p {
    line-height: 20px;
  }

  &__content {
    padding: 17px 20px 27px;
  }
}
