@import '../../../../vars';

.TokenHeader {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 24px 40px;

  @media (max-width: @mobile-width) {
    position: relative;
    z-index: 70;
    padding: 16px;
  }

  &__wrapper {
    background: var(--alice-blue);

    @media (max-width: @mobile-width) {
      top: 0;
      position: sticky;
      z-index: 10;

      &.openedMobileMenu {
        box-shadow: 0 10000px 0 10000px rgba(0, 0, 0, 0.1);
        max-height: 100vh;
        overflow-y: auto;
      }
    }
  }

  .TokenHeader__logo {
    margin-right: 40px;
    cursor: pointer;

    @media (max-width: @mobile-width) {
      width: 120px;
      height: 36px;
    }
  }

  .TokenHeader__nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    @media (max-width: @mobile-width) {
      display: none;
    }

    li {
      display: flex;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding: 16px;
      color: #2f323d;
      cursor: pointer;

      .isvg {
        transition: transform 0.3s ease;
        display: block;
        width: 24px;
        height: 24px;

        svg {
          display: block;
        }
      }

      &.active {
        .isvg {
          transform: rotate(180deg);
        }
      }

      &:hover {
        opacity: .9;
      }
    }
  }

  .TokenHeader__menuButton {
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: auto;
    cursor: pointer;
    color: var(--gray);
    transition: opacity 0.7s ease;

    @media (min-width: @mobile-width) {
      display: none;
    }

    &:active {
      transition: opacity 0.1s ease;
      opacity: 0.5;
    }

    .isvg {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: inherit;
      height: inherit;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s linear;

      svg {
        display: block;
      }

      &:last-child {
        opacity: 0;
      }
    }

    &.active {
      .isvg {
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }

  .TokenHeader__authButtons {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    .Button__label {
      font-size: 16px;
    }

    .Button {
      --button-height: 47px;

      &.lite {
        padding: 0 16px;
      }
    }

    @media (max-width: @mobile-width) {
      display: none;
    }
  }
}
