.Table {
  border-collapse: collapse;
  width: 100%;

  .Table__row {
    background: #FFFFFF;
  }

  .Table__dark__row {
    background: #FBF8F6;
  }
  
  tr {
    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.08);
    }
  }
  
  th, td {
    color: var(--primary-grey);
    font-weight: 500;
    font-size: 13px;
    padding: 18px 0;
    border: none;
  }
}