.SiteHomepageSafety__item {
  margin-top: 50px;
}

.SiteHomepageSafety__items {
  margin-top: 64px;
}

.SiteHomepageSafety__item__more {
  margin-top: 17px;
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding: 0 16px;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none !important;

  &:after {
    content: '';
    width: 5px;
    height: 9px;
    background: url('asset/homepage_safety_arrow.svg') no-repeat center/contain;
    margin-left: 6px;
    display: block;
    flex: 0 0 auto;
    transition: transform 150ms ease-in-out;
  }

  &:hover:after {
    transform: translateX(2px);
  }
}

.SiteHomepageProducts {
  margin-top: 42px;
  position: relative;
  padding-bottom: 140px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2874px;
    height: 1343px;
    transform: translateX(-50%);
    background: url('asset/homepage_products_bg.svg');
    z-index: -2;
  }
}
