.CabinetSelect-BottomSheet {
  &-menu {
    display: flex;
    position: relative;

    &__triangle {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 13.62px;
      height: 13.62px;
      background: #dce5fd;
      z-index: 1;
    }

    &__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      overflow: hidden;
      border-radius: inherit;
      z-index: 2;
    }
  }

  &-option {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-option__icon {
    display: flex;
    height: 100%;

    img {
      width: 23px;
      height: 23px;
      object-fit: 'contain';
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &-option__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0a1539;
  }

  .ScrollbarBox {
    .ScrollbarTrackY {
      background: #f7f9fc !important;
      border: 1px solid #fff;
      width: 2px !important;
      right: 8px !important;
      transition: width 0.1s, right 0.1s;

      &:hover,
      &:focus,
      &:active {
        width: 4px !important;
        right: 7px !important;
      }
    }
  }

  .DappInput {
    border-radius: 0;
    background: none;
    padding-right: 26px !important;

    &,
    &:focus {
      border: none !important;
      border-bottom: 1px solid var(--azureish-white) !important;
    }

    &__wrapper {
      border: none;
    }

    &__indicator {
    }

    &__wrapper,
    & {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: inherit;
    }
  }

  .DappInput__wrapper.small .DappInput {
    border-radius: 0;
    height: 38px;
  }

  &.average &__indicator {
    .isvg path {
      fill: #dfe3f0;
    }
  }
}

.adaptive .CabinetSelect-BottomSheet {
  &-menu {
    &__triangle {
      display: none;
    }
  }

  &-option__icon {
    img {
      width: 21px;
      height: 21px;
    }
  }

  .BottomSheetModal {
    padding: 0;
    background: transparent;
  }
}
