.CabinetSelect-BottomSheet {
  &-option {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-option__icon {
    display: flex;
    height: 100%;

    img {
      width: 23px;
      height: 23px;
      object-fit: 'contain';
    }

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &-option__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0a1539;
  }
}
