@import '../../../../../../vars.less';

.SwapFormInput {
  // Containers
  &__container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 14.5px 15px 16.5px;
    border: 1px solid #dfe3f0;
    border-radius: 20px;
    box-sizing: border-box;
  }

  &__select {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    &__wrap {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__options {
      position: absolute;
      padding: 10px 9px;
      background: #fff;
      top: 130%;
      left: -9px;
      border-radius: var(--radius-panel);
      box-shadow: 0px 0 70px rgba(199, 201, 207, 0.7);
      z-index: 5;

      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: -0.01em;
    }

    &__option {
      display: flex;
      align-items: center;
      opacity: 1;
      padding: 15px 25px 15px 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(1, 1, 1, 0.2);
      }
      
      &:hover {
        opacity: 0.9;
      }

      &__circle {
        display: none;
        position: absolute;
        right: 20px;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0 0 1px rgba(199, 201, 207, 1);

        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          width: 60%;
          height: 60%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }

      &.active &__circle {
        box-shadow: 0px 0 0 1px var(--blue-light-gradient-color-start);

        &::after {
          background: var(--blue-light-gradient-color-start);
        }
      }
    }
  }

  // Components
  &__icon {
    width: 41px;
    height: 41px;

    .isvg,
    svg {
      width: inherit;
      height: inherit;
    }
  }

  &__select {
    cursor: pointer;

    // Medium text in select (subtitle)
    & > span {
      color: #cdcfd7;
      margin-bottom: 4px;
    }
  }

  &__currency {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;

    // Select icon
    .isvg {
      margin-left: 8px;
    }
  }

  &__input {
    width: 100%;
    margin-left: 10px;
    // <Input />
    .Input {
      border: none;
      background: none;
      font-weight: 500;
      font-size: 26px;
      line-height: 110%;
      letter-spacing: -0.01em;
      caret-color: var(--royal-blue);
    }

    input {
      text-align: right;
      padding: 0 0 0 10px;
    }
  }
}

.adaptive .SwapFormInput {
  &__container {
    padding: 11px 19px 11px 9px;
  }

  &__currency {
    font-size: 16px;
  }

  &__select {
    &__options {
      position: fixed;
      padding: 10px 15px;
      background: rgba(51, 52, 54, 1);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      max-width: 400px;
      width: 80%;
      box-sizing: border-box;
      color: #f1f2f3;
      z-index: 51;

      &__bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, 0.3);
        z-index: 50;
      }
    }

    &__option {
      &:not(:last-child) {
        border-bottom: 1px solid #3d3e40;
      }

      &__circle {
        display: block;
      }
    }
  }

  .Input {
    --input-height: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
}
