.FiatHistoryTable__time {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--primary-grey);
}

.FiatHistoryTable__status {
  &.crypto_exchange {
    color: var(--primary);
  }
}