.FiatMarketForm {
  .FiatMarketForm__loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding: 40px;
    box-sizing: border-box;
    background-color: var(--primary-background);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 14;


    .isvg {
      display: block;
      width: 120px;
      height: 120px;
      animation-fill-mode: forwards;
      animation: FiatMarketFormLoader 1500ms ease-in-out infinite;
      margin-bottom: 24px;

      @keyframes FiatMarketFormLoader {
        0%, 13% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      svg {
        display: block;
      }
    }

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    p {
      font-size: 13px;
      line-height: 24px;
      max-width: 320px;
      color: var(--dark-gray);
    }
  }

  .ContentBox__content {
    padding: 40px;
  }

  .FiatMarketForm__title {
    margin-bottom: 40px;
  }

  .FiatMarketForm__row {
    position: relative;
    display: flex;
    margin: 40px -8px;
    align-items: baseline;
  }

  .FiatMarketForm__column {
    margin: 0 8px;

    &:first-child {
      flex: 1;
    }

    &:last-child {
      width: 232px;
    }
  }

  .FiatMarketForm__inputLabel {
    font-size: 13px;
    line-height: 16px;
    top: -24px;
    left: 16px;
    position: absolute;
  }

  .FiatMarketForm__rate,
  .FiatMarketForm__balance {
    min-height: 16px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: var(--text-black);
    margin: 8px 16px;
    margin-right: 0;
  }

  .FiatMarketForm__balance {
    cursor: pointer;
  }

  .FiatMarketForm__button_wrapper {
    margin-top: 28px;
    text-align: center;

    .Button {
      width: 160px;
    }
  }
  .FiatMarketForm__fee,
  .FiatMarketForm__total {
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    color: var(--text-black);
    margin-bottom: 16px;
  }
}

.adaptive {
  .FiatMarketForm {
    .ContentBox__content {
      padding: 0;
    }
    .FiatMarketForm__row {
      flex-direction: column-reverse;
      margin: 42px 0;
    }

    .FiatMarketForm__column {
      margin: 0;
      width: 100%;

      &:last-child {
        width: 100%;
      }
    }
    .Button {
      width: 100%;
    }
  }
}
