.CabinetProfileScreen__wallets {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: calc(100% + 28px);
  margin-bottom: 24px;
}

.CabinetProfileScreen__dashboard {
  width: calc(100% + 28px);
  .CabinetProfileScreen__dashboard__wrapper {
    width: 100%;
    flex-wrap: wrap;
    grid-template-columns: 33.3% 33.3% 33.3%;
    display: grid;
  }
  .DashboardItem {
    position: relative;
    margin-right: 28px;
    flex: 1;

    &:nth-child(n + 4) {
      margin-top: 16px;
    }

    .DashboardItem__close {
      position: absolute;
      top: 7px;
      right: 7px;
    }

    .DashboardItem__content {
      height: 280px;
      padding: 16px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: start;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      position: relative;
      user-select: none;

      .DashboardItem__content_header {
         width: 100%;
         height: 24px;
         display: flex;
         margin-bottom: 16px;
         .DashboardItem__icon {
           width: 24px !important;
           height: 24px;
           margin: auto 0;
           color: var(--primary-grey);
         }
         .DashboardItem__headerText {
           font-size: 16px;
           line-height: 24px;
           margin: auto 0 0 10px;
           height: 24px;
         }
      }

      .DashboardItem__content_item {
        width: 100%;
        height: 35px;
        margin-bottom: 16px;
        .DashboardItem__content_item_header {
          height: 16px;
          width: 100%;
          position: relative;
          font-size: 13px;
          color: #808080;
        }
        .DashboardItem__content_item_header_left {
          position: absolute;
          left: 0;
        }
        .DashboardItem__content_item_header_right {
          position: absolute;
          right: 0;
          cursor: pointer;
          border-bottom: 1px solid rgba(128, 128, 128, 0.56);
        }

        .DashboardItem__content_item_context {
          width: 100%;
          font-size: 16px;
          height: 30px;
          line-height: 30px;
          color: #212121;
        }
      }

      h3 {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: var(--primary-grey);
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 4px;
      }

      .DashboardItem__buttonAction {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
        .Button {
          width: 100%;
        }
      }
    }

    .DashboardItem__loader {
      position: absolute;
      width: 24px;
      height: 24px;
      right: 10px;
      top: 10px;
      color: #FF9E65;
      animation: rotate 2s infinite linear;
    }
  }

  .DashboardItem__inactive {
    opacity: 0.5;
  }

  .DashboardItem__selected {
    .DashboardItem__content h3, .DashboardItem__content p {
      color: white !important;
    }
  }

  @keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
}

.CabinetProfileScreen__height_padding {
  height: 24px;
  width: 100%;
}

.CabinetStartProfileScreen__wallets {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: calc(100% + 28px);
}

.CabinetStartProfileScreen__actionCards {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin-top: 24px;
  width: calc(100% + 28px);
}

// DashboardItemAction

.DashboardItem {

  .DashboardItemAction__icon {
    width: 100%;
    height: 120px;
    margin: 8px 0 0;

    .DashboardItemAction__icon_content {
      width: 120px;
      height: 120px;
      margin: auto;
    }
  }

  .DashboardItemAction__description {
    width: 100%;
    font-size: 12px;
    margin: 10px 0 0;
    text-align: center;
  }

  .DashboardItemAction__button {
    width: 100%;
    display: flex;
    margin-top: 16px;
    .Button {
      margin: auto 24px;
      width: calc(100% - 48px);
      white-space: nowrap;
    }
  }
}

.CabinetStartProfileScreen__right {
  grid-template-columns: 100%;
  margin-top: 0;
  .DashboardItemAction {
    margin-bottom: 24px;
    .DashboardItemAction__description {
      font-size: 14px;
    }
    .DashboardItemAction__button {
      width: 100%;
      display: flex;
      margin-top: 40px;
      .Button {
        width: 170px;
        margin: auto;
      }
    }
  }
}

.CabinetProfileScreen__height24 {
  height: 24px;
  width: 100%;
}

.ReferralLinkBlock__main {
  @leftColon: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px 40px 40px;
  margin-top: 24px !important;
  .ReferralLinkBlock__left {
    width: calc(100% - @leftColon);
    display: flex;
  }
  .ReferralLinkBlock__right {
    width: @leftColon;
    display: flex;
  }
  .ReferralLinkBlock__line:first-child {
    padding-top: 24px !important;
  }
  .ReferralLinkBlock__line {
    width: 100%;
    display: flex;
    .ReferralLinkBlock__left, .ReferralLinkBlock__right {
      .ReferralLinkBlock__description {
        width: 100%;
        box-sizing: border-box;
        padding-right: 40px;
        font-size: 13px;
        line-height: 24px;
      }
      .ReferralLinkBlock__right_social {
        width: 64px;
        height: 64px;
        margin-left: -16px;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }
      }
      .ReferralLinkBlock__right_button {
        width: 100%;
        margin: 0 auto;
        .Button {
          width: 100%;
        }
      }
    }
    .ReferralLinkBlock__left {
      .h1 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        span {
          margin: auto 0;
        }
      }
    }
  }
}

.adaptive {
  .CabinetProfileScreen__wallets {
    grid: none;
    width: 100% !important;

    .WalletBox {
      margin-right: 0;
      .WalletBox__icon {
        position: absolute;
        transform: none;
        left: 10px;
      }
      .WalletBox__content {
        padding-left: 72px;
        padding-right: 24px;
        box-sizing: border-box;
      }
      .Content_box {
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
      }
    }
    .CabinetProfileScreen__walletsContentBox {
      background-color: white;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }

  .WalletBalance {
    padding-block-end: 0;
  }

  .WalletBalance__selected_wallet {
    padding-inline-start: 24px !important;
  }

  .WalletBalance .WalletBalance__convert {
    position: relative;
    right: 0;
    top: 0;
    padding: 0;
    span {
      color: black;
    }
  }

  .CabinetProfileScreen__dashboard {
    width: 100%;
    height: 312px;
    overflow: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
    .CabinetProfileScreen__dashboard__wrapper {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      display: grid;
      grid-template-columns: 208px 208px 208px 16px;
      padding: 16px;
      margin-right: 16px;
      .DashboardItem {
        width: calc(100% - 16px);
      }
      .fakeItem {
        width: 1px;
        height: 312px;
      }
    }
  }
}
