.PrivatePools__Information {
  margin-top: 10px;

  .deposit {
    margin-top: 10px;

    & > label > span {
      display: flex;
      justify-content: space-between;
    }
  }

  .LoadingStatus {
    position: relative;
  }
}