.QuoteWindow {
  box-sizing: border-box;

  &__container {
    display: flex;
    width: 100%;
    background: #fff;
    border-radius: 25px;
    padding: 57px 121px 57px 59px;
    box-sizing: border-box;
    box-shadow: 0px 34px 70px rgba(199, 201, 207, 0.25);
  }

  &__icon {
    padding: 32.5px 27px;
    border-radius: 30px;
    background: rgba(107, 146, 246, 0.1);
  }

  p {
    margin-left: 53.6px;
    font-weight: 500;
    font-size: 30px;
    line-height: 152%;
    color: var(--landing-color-black);
  }
}
