.DappMessage {
  padding: 18px 51px 18px 29px;
  border-radius: 15px;
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--cool-gray);

  &.warning {
    &.background {
      background: #fff7ea;
    }

    &.border {
      border: 1px solid #f6e2ad;
    }
  }

  &.gray {
    &.background {
      background: #f1f1f1;
    }

    &.border {
      border: 1px solid #dbdbdb;
    }
  }

  &.transparent--orange {
    &.border {
      border: 1px solid #ffd7bb;
    }
  }

  &.transparent--gray {
    &.border {
      border: 1px solid #efefef;
    }
  }

  .close {
    position: absolute;
    top: min(31%, 25px);
    right: 32px;
    cursor: pointer;

    &:not(:hover) path {
      fill: #767676;
    }
  }
}
