.AppButtons {
  padding: 16px 0;
  display: flex;

  .AppButtons__button {
    cursor: pointer;
    margin-right: 16px;

    &.disabled {
      opacity: .3;
      pointer-events: none;
    }

    &:last-child {
      margin-right: 0;
    }

    .isvg {
      display: block;

      &:hover {
        opacity: .8;
      }

      svg {
        display: block;
      }
    }
  }
}