.FiatHistoryTable__time {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--primary-grey);
}

.FiatHistoryTable__status {
  &.crypto_exchange {
    color: var(--primary);
  }
  &.fiat_exchange {
    color: var(--color-green);
  }
}

.adaptive {
  .FiatHistoryTable__amount {
    white-space: nowrap;
  }
  .FiatHistoryTable__status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
  }
}