.DepositModal__ConfirmCancel {
  .DepositModal__container {
    padding: 39px 38.5px 32px;
    max-width: 436px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  .buttons {
    width: 100%;
    margin-top: 24px;
    
    .Button {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
