.DepositModal__ConfirmCancel {
  .DepositModal__container {
    padding: 39px 38.5px 32px;
    max-width: 436px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  .buttons {
    width: 100%;
    margin-top: 24px;

    .Button {
      height: 50px;
      width: 100%;

      &__label {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.adaptive .DepositModal__ConfirmCancel {
  .DepositModal__container {
    padding: 39px 20px 32px;
    max-width: 100%;
    background: #fff;
    box-shadow: 0px 15px 75px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  h3 {
    font-size: 16px;
    line-height: 19.5px;
  }

  p {
    line-height: 17px;
  }

  .buttons {
    width: auto;  
    flex-direction: row !important;
    flex-wrap: wrap;
    margin: 24px -7.5px 0;

    .Button {
      flex: 1 1 40%;
      min-width: 210px;
      margin: 0 7.5px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &__label {
        font-size: 14px !important;

        .isvg {
          height: 15px;
          width: 13.65px;
        }
      }
    }
  }
}
