@import "../../vars";

@height: 48px;
@middle-height: 40px;
@small-height: 32px;
@ultra-small-height: 24px;
@border-radius-rounded: @height / 2;
@border-radius-rounded-middle: @middle-height / 2;
@border-radius-rounded-small: @small-height / 2;
@border-radius-rounded-ultra-small: @ultra-small-height / 2;

.Button {
  outline: none;
  border: none;
  font-family: @font-family;
  padding: 0 32px;
  background: var(--uikit-gradient-primary);
  color: var(--uikit-primary);
  border-radius: @border-radius;
  display: inline-flex;
  height: @height;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
  position: relative;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;


  &.buy  {
    background: var(--uikit-primary-green);
    color: var(--uikit-contrast-primary);
    opacity: .8;
  }

  &.sell  {
    background: var(--uikit-primary-red);
    color: var(--uikit-contrast-primary);
    opacity: .8;
  }

  &:not(.outline):not(.lite):not(.negative_outline):not(.secondary) {
    color: var(--uikit-contrast-primary);
  }

  &.loading {
    user-select: none;
    pointer-events: none;
  }

  &.smallPadding {
    padding: 0 16px;
  }

  &.rounded {
    border-radius: @border-radius-rounded;
  }

  &.forCabinet {
    background: linear-gradient(47.71deg, #FFC75D 21.44%, #FFA363 76.19%);
  }

  &:after {
    content: '';
    background: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotate(180deg);
    transition: opacity 150ms ease-in-out;
  }

  &.outline,
  &.negative_outline {
    &::before {
      content: '';
      background: var(--uitkit-background);
      position: absolute;
      background-clip: padding-box;
      border: 1px solid transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: @border-radius;
    }

    &:hover, &:active {

      &::before {
        opacity: 0;
      }

      .Button__label {
        color: white;
      }
    }
  }

  &:hover {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);

    &.ultra_small {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
  }

  &:active {
    box-shadow: none;

    &:after {
      opacity: 1;
    }
  }

  &.small {
    height: @small-height;
    padding: 0 16px;

    &.rounded {
      border-radius: @border-radius-rounded-small;
    }
  }

  &.ultra_small {
    height: @ultra-small-height;
    padding: 0 8px;

    &.rounded {
      border-radius: @border-radius-rounded-ultra-small;
    }
  }

  &.middle {
    height: @middle-height;
    padding: 0 24px;

    &.rounded {
      border-radius: @border-radius-rounded-middle;
    }
  }

  &.large {
    //min-width: 160px;
    text-align: center;

    .Button__cont {
      justify-content: center;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }

  &.secondary {
    background: var(--uikit-button-secondary-background);
    color: var(--uikit-foreground-secondary);

    &:after {
      background: var(--uikit-button-secondary-active-background);
    }
  }

  &.lite {
    background: transparent;
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  &.negative {
    background: var(--uikit-negative);
    opacity: .8;

    &:after {
      background: var(--uikit-negative);
    }
  }

  &.negative_outline {
    color: var(--uikit-negative);
    background: var(--uikit-negative);

    &:after {
      background: var(--uikit-negative);
    }

    &:hover, &:active {
      opacity: .8;
      color: var(--uikit-contrast-primary);
    }
  }

  &.outline_white {
    background: transparent;
    border: 2px solid var(--uikit-contrast-primary);
    transition: background 150ms ease-in-out;

    &:after {
      display: none;
    }

    &:active {
      background: var(--uikit-contrast-primary);
    }

    .Button__label {
      transition: color 150ms ease-in-out;
    }
  }
}

.Button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  z-index: 5;

  &::before {
    content: '';
    height: inherit;
    width: inherit;
    display: block;
    filter: invert(1);
    background: url('../../asset/spinner.svg');
    animation: Button__loader_anim 1s infinite linear;
  }
}

@keyframes Button__loader_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button__label {
  //transition: color 150ms ease-in-out;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;

  .Button.small & {
    font-size: 13px;
    line-height: 16px;
  }

  .Button.ultra_small & {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
  }

  .Button.middle & {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}

.Button__cont {
  z-index: 2;
  display: flex;
  align-items: center;

  .Button.loading & {
    opacity: 0;
  }
}

.WatchButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 45px;
  padding: 0 12px;

  &:active {
    transform: translateY(1px);
  }
}

.WatchButton__icon {
  width: 28px;
  height: 28px;
  background: var(--uikit-gradient-primary);
  border-radius: 50%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../asset/watch_button_icon_28.svg') no-repeat center/contain;
  }
}

.WatchButton__label {
  font-weight: 500;
  font-size: 15px;
  margin-left: 14px;
  color: var(--uikit-primary);
}

.buttonFontSizeStyle {
  font-size: 15px !important;
}
