@import "../../vars";

@height: 48px;
@middle-height: 40px;
@small-height: 32px;
@ultra-small-height: 24px;
@border-radius-rounded: @height / 2;
@border-radius-rounded-middle: @middle-height / 2;
@border-radius-rounded-small: @small-height / 2;
@border-radius-rounded-ultra-small: @ultra-small-height / 2;

.Button {
  outline: none;
  border: none;
  font-family: @font-family;
  padding: 0 32px;
  background: var(--blue-gradient);
  color: var(--primary-blue);
  border-radius: @border-radius;
  display: inline-flex;
  height: @height;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
  position: relative;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  z-index: 0;

  &.buy,
  &.success {
    background: var(--green);
    color: var(--primary-background);
  }

  &.sell,
  &.danger {
    background: var(--red);
    color: var(--primary-background);
  }

  &:not(.outline):not(.lite):not(.negative_outline):not(.secondary) {
    color: var(--primary-background);
  }

  &.loading {
    user-select: none;
    pointer-events: none;
  }

  &.smallPadding {
    padding: 0 16px;
  }

  &.rounded {
    border-radius: @border-radius-rounded;
  }

  &.forCabinet {
    background: linear-gradient(47.71deg, #ffc75d 21.44%, #ffa363 76.19%);
  }

  &:after {
    content: "";
    background: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotate(180deg);
    transition: opacity 150ms ease-in-out;
  }

  &.outline,
  &.negative_outline {
    &::before {
      content: "";
      background: var(--primary-background);
      position: absolute;
      background-clip: padding-box;
      border: 1px solid transparent;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: inherit;
    }

    &:hover,
    &:active {
      &::before {
        opacity: 0;
      }

      .Button__label {
        color: var(--white);
      }
    }
  }

  &:hover {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);

    &.ultra_small {
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15),
        0px 2px 4px rgba(0, 0, 0, 0.08);
    }
  }

  &:active {
    box-shadow: none;

    &:after {
      opacity: 1;
    }
  }

  &.small {
    height: @small-height;
    padding: 0 16px;

    &.rounded {
      border-radius: @border-radius-rounded-small;
    }
  }

  &.ultra_small {
    height: @ultra-small-height;
    padding: 0 8px;
    border-radius: 6px;

    &.rounded {
      border-radius: @border-radius-rounded-ultra-small;
    }
  }

  &.middle {
    height: @middle-height;
    padding: 0 24px;

    &.rounded {
      border-radius: @border-radius-rounded-middle;
    }
  }

  &.large {
    //min-width: 160px;
    text-align: center;

    .Button__cont {
      justify-content: center;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }

  &.secondary {
    background: var(--cloudy);
    color: var(--text-black);

    &:after {
      //background: #f0f;
    }
  }

  &.lite {
    background: transparent;
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  &.negative {
    background: var(--red);

    &:after {
      background: var(--red);
    }
  }

  &.negative_outline {
    color: var(--red);
    background: var(--red);

    &:after {
      background: var(--red);
    }

    &:hover,
    &:active {
      opacity: 0.8;
      color: var(--primary-background);
    }
  }

  &.outline_white {
    background: transparent;
    border: 2px solid var(--primary-background);
    transition: background 150ms ease-in-out;

    &:after {
      display: none;
    }

    &:active {
      background: var(--primary-background);

      .Button__label {
        color: var(--primary-orange);
      }
    }

    .Button__label {
      transition: color 150ms ease-in-out;
    }
  }
}

.Button__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  z-index: 5;

  &::before {
    content: "";
    height: inherit;
    width: inherit;
    display: block;
    filter: invert(1);
    background: url("../../asset/spinner.svg");
    animation: Button__loader_anim 1s infinite linear;
  }
}

@keyframes Button__loader_anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.Button__label {
  //transition: color 150ms ease-in-out;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;

  .Button.small & {
    font-size: 13px;
    line-height: 16px;
  }

  .Button.ultra_small & {
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
  }

  .Button.middle & {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
}

.Button__cont {
  z-index: 2;
  display: flex;
  align-items: center;

  .Button.loading & {
    opacity: 0;
  }
}

.WatchButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 45px;
  padding: 0 12px;

  &:active {
    transform: translateY(1px);
  }
}

.WatchButton__icon {
  width: 28px;
  height: 28px;
  background: var(--orange-gradient);
  border-radius: 50%;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../asset/watch_button_icon_28.svg") no-repeat
      center/contain;
  }
}

.WatchButton__label {
  font-weight: 500;
  font-size: 15px;
  margin-left: 14px;
  color: var(--primary-orange);
}

.buttonFontSizeStyle {
  font-size: 15px !important;
}

.ButtonWrapper {
  display: flex;
  align-items: center;

  .Button {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.fill .Button {
    flex: 1;
  }
}
