@import '../../../../vars.less';

.ScrollbarBox-container {
  display: flex;
  position: relative;
}

.ScrollbarBox {
  .ScrollbarsCustom-Wrapper {
    inset: 0 !important;
  }

  .ScrollbarsCustom-Scroller {
    padding: 0 !important;
    margin: 0 !important;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .ScrollbarTrackY {
    @top: var(--scrollbar-track-y-top, 10px);

    display: flex !important;
    background: none !important;
    width: 2px !important;
    height: calc(100% - @top * 2) !important;
    top: @top !important;
    right: var(--scrollbar-track-y-right, 4px) !important;
    transition: width 0.1s, transform 0.1s;
    z-index: 3;

    &:hover,
    &:active {
      width: 4px !important;

      transform: translate(1px);
    }
  }

  .ScrollbarThumbY {
    background: #e5ebfc !important;
    border-radius: 20px !important;
    width: 2px;
    z-index: 4;
  }

  &.alice-blue {
    .ScrollbarTrackY {
      background: var(--alice-blue) !important;
    }
  }
}
