.NarfexDAO {
  color: var(--landing-color-black);

  h2 {
    font-weight: 600;
    font-size: 56px;
    letter-spacing: -0.01em;
    line-height: 110%;
  }

  .gradient-text{
    display: inline-flex;
    background: var(--blue-light-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
