@import '../../../vars';

.AboutUs {
  max-width: @landing-container-width;
  padding: 104.35px @landing-container-padding 160px;
  margin: 0 auto;

  &__description {
    margin: 23px 0;
    max-width: 750px;
  }

  p {
    color: var(--landing-color-gray);
  }
}
