.Select {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;

  .Select__remove {
    color: var(--gray);
    margin-left: -8px;

    &:hover {
      color: red;
    }

    svg {
      display: block;
    }
  }

  .Select__arrow {
    color: var(--gray);

    svg {
      display: block;
    }
  }
}
