
.InfoCard__item {
  text-align: center;
  flex: 1;
  box-sizing: border-box;
  padding: 0 52px;

  @media (max-width: 1270px) { padding: 0 22px; }
}

.InfoCard__item__icon {
  width: 80px;
  height: 80px;
  background: no-repeat center/contain;
  margin: 0 auto;
}

.InfoCard__item__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--foreground-primary);
  margin-top: 52px;
}

.InfoCard__item__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--foreground-secondary);
  margin-top: 24px;
}


