.Referral__Dashboard {
  padding: 32px 60px 72px;
  background: var(--blue-light-gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-panel-large);
  margin-bottom: 32px;

  h2 {
    color: #ffffff;
    margin-bottom: 15px;
  }

  &__cards {
    margin: -5px -16px;
    height: 100%;
  }
}
