.p2p-order .p2p-order-info {
  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    gap: 0 5px;

    &:not(:last-child) {
      margin-bottom: 9px;
    }

    & > * {
      color: var(--black-gunmetal) !important;

      &:first-child {
        font-weight: 400;
        color: var(--cool-gray) !important;
      }
    }

    .Row {
      width: auto;
    }

    .CopyTextComponent__content {
      display: flex;
      align-items: center;
    }
  }
}
