@import '../../../../../../vars.less';

.CryptoWallet {
  margin-bottom: var(--gap-size);

  .ContentBox__content {
    padding: var(--padding-panel);

    .adaptive & {
      padding: 24px 16px 24px;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

    @media screen and (min-width: calc(@mobile-width + 1px)) {
      & > .Button,
      & > a {        
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    @media screen and (max-width: @mobile-width) {
      .FirstButton {
        margin-left: 0;
      }

      & > a {        
        &:not(:last-child) {
          margin: 0 10px;
        }
      }
    }

    @media screen and (min-width: 320px) and (max-width: @mobile-width) {
    .Button {
        min-width: 70px !important;
      }
    }
  }
  &-balance {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    display: flex;
    justify-content: space-between;

    .adaptive & {
      font-size: 16px;
    }
    &-token {
      display: flex;

      .CircleIcon {
        margin-right: 16px;
      }
      span {
        text-transform: uppercase;
      }
    }
    &-usd {
    }
  }
  
  .FirstButton {
    margin-left: auto;
  }
}
