.Team {
  padding: 48.8px 82.5px 84px;
  display: flex;
  justify-content: center;

  &__container {
    max-width: 976px;
  }

  h1 {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--black-gunmetal);
  }

  &__description {
    max-width: 938px;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--cool-gray);
  }

  &__header {
    margin-bottom: 83px;
  }

  &__cards {
    margin: 0 -32px;
    width: calc(100% + 32px);
  }

  &__Card {
    flex: 0 1 calc(33% - 32px);

    margin: 0 0 32px 32px;
  }
}

@media screen and (max-width: 1300px) {
  .Team {
    &__Card {
      flex: 0 1 calc(50% - 32px);
    }
  }
}
