.FiatWithdrawalModal {
  display: flex;
  min-height: 700px;

  .FiatWithdrawalModal__sideBar {
    width: 304px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: var(--blue-gradient);
    color: var(--white);
    padding: 40px;
    box-sizing: border-box;

    .FiatWithdrawalModal__sideBar__content {
      box-sizing: border-box;
      width: 100%;
      margin-top: 96px;
      text-align: center;

      h3 {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }

      small {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
      }
    }
  }

  .FiatWithdrawalModal__body {
    overflow: hidden;
    position: relative;
    padding: 40px;
    width: 496px;
  }

  .FiatWithdrawalModal__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .BankList {
    margin: 24px -40px;
  }
}
