.InfoRow__group {
  width: 100%;
  border-spacing: 0 24px;
}

.InfoRow {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  padding-top: 24px;

  &:first-child {
    padding-top: 0;
  }
}

.InfoRow__label {
  color: var(--primary-grey);
  text-align: right;
}

.InfoRow__value {
  color: var(--foreground-primary);
  padding-left: 16px;
}