.DexSwap {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-sizing: border-box;
  // Containers

  &__header {
    margin: 0 0 40px;
  }

  .CabinetBlock {
    box-sizing: border-box;
    width: 100%;
    flex: 1 1 auto;
    background: var(--primary-background);
  }

  // Components

  // <Switch />
  .Switch {
    margin: 0 0 0 15px;
  }

  // <CabinetBlock />
  .CabinetBlock {
    padding: 0;
    border-radius: 25px;
  }

  // Manage in input label
  &__manage {
    cursor: pointer;

    .isvg,
    svg {
      width: 18px;
      height: 18px;
    }

    svg,
    path {
      fill: #5078e6;
    }
  }

  // --Form
  .DexSwap__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 33px 31px;
    box-sizing: border-box;

    & > .isvg {
      margin: 21px 0;
      cursor: pointer;
    }

    // <Button />
    .Button.lightBlue {
      .isvg {
        svg,
        path {
          fill: #fff;
        }
      }
      &.DexSwap__button-swap {
        .isvg path {
          &:nth-child(1), &:nth-child(2) {
            fill: none;
          }
        }
      }
    }

    & > .Button {
      width: 100%;
      height: 72px;
      margin-top: 31px;
      border-radius: 15px;

      .Button__label {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .isvg {
        width: 29px;
        height: 29px;
        margin-right: 11px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // All icons for this
  .isvg {
    display: flex;
    align-items: center;
  }

  &__Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0 8px 8px;
    margin-top: 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    position: relative;

    & + .DexSwap__Slippage {
      margin-top: 0;
    }

    span {
      &:first-child {
        opacity: 0.5;
      }

      &:nth-child(2) {
        font-weight: 600;
        margin-right: 24px + 19px;
      }
    }

    &-swap {
      position: absolute;
      right: 16px;
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--blue-gradient);
        opacity: 0.12;
        border-radius: 50%;
      }
      &:hover {
        box-shadow: 0 4px 8px rgb(64 112 255 / 12%);
      }
    }
  }

  .HoverPopup {
    margin-left: 6px;
    width: fit-content;

    &__content {
      z-index: 100;
      color: var(--almost-black);
      white-space: normal;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.6em;
    }
  }

  &__hint {
    z-index: 100;
    text-align: left;
    min-width: 300px;
    max-width: 345px;
  }
}

.adaptive .Exchange__wrapper {
  padding-top: 35px;

  h1 {
    font-size: 24px;
  }

  .Exchange {
    &__bg,
    &__bg-center {
      display: none;
    }
  }
}

.adaptive .DexSwap {
  .CabinetBlock {
    border-radius: 0;
  }
  &__form {
    padding: 24px 16px;
  }
}

body.theme-dark .DexSwap {
  .CabinetBlock {
  }
}
