@form-spacing-lg: 30px;
@form-spacing-sm: 20px 10px;

.SiteContactScreen__heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.2px;
  color: var(--contrast-primary);
  padding-top: 35px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SiteContactScreen__title {
  font-weight: 500;
  font-size: 34px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1.2px;
  margin-top: 70px;
}

.SiteContactScreen__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.444444px;
}

.SiteContactScreen__form {
  width: 85%;
  margin: 50px auto;
}


.SiteContactScreen__form__input__wrapper {
  margin: @form-spacing-lg;
  flex: 4;

  .SiteContactScreen__form__input {
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05px;
    border-radius: 33px;
    border: 1px solid var(--primary);
    color: var(--foreground-primary);
    padding: 15px 30px;
    outline: none;
    width: -webkit-fill-available;
    margin-bottom: 10px;

    &::placeholder {
      color: var(--foreground-primary);
    }
  }

  .SiteContactScreen__form__input__err {
    font-size: 12px;
    color: var(--negative);
    line-height: 0;
    margin-left: 20px;
  }
}


.SiteContactScreen__form__firstRow {
  display: flex;
}

.SiteContactScreen__form__secondRow {
  display: flex;

  .SiteContactScreen__form__input__wrapper:first-child {
    flex: 6;
  }

  textarea {
    height: 20px;
  }

  .Send_Button {
    flex: 2 auto;
    margin: @form-spacing-lg;

    button {
      width: 100%; 
    }
  } 
}


.SiteContactScreen__socials {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: var(--secondary-active-background);
  margin: 80px 320px;
  padding: 50px 10px;
  border-radius: 9px;

  .SiteContactScreen__socials__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.444444px;
  }

  .SiteContactScreen__social {
    margin: 10px;

    img {
      width: 32px;
      height: 32px;
    }
  }
}


@media (max-width: 1200px) {
  .SiteContactScreen__form {
    width: 100%;
  }

  .SiteContactScreen__form__input__wrapper {
    margin: @form-spacing-sm;
  }

  .SiteContactScreen__form__secondRow {
    .Send_Button {
      margin: @form-spacing-sm;    
    }
  }

  .SiteContactScreen__socials {
    margin: 40px 80px;
  }
}

@media (max-width: 768px) {
  .SiteContactScreen__form__firstRow, .SiteContactScreen__form__secondRow {
    flex-direction: column;
  }

  .SiteContactScreen__socials {
    margin: 30px 10px;
  }
}