.RateIndicator {
  display: inline-flex;
  height: 13px;
  margin: 0 7px;
  padding: 3px;
  background: #5ec47a;
  font-weight: 600;
  font-size: 9px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 3px;
  box-sizing: border-box;

  &-container {
    display: inline-flex;
    align-items: center;
    opacity: 0.57;

    .down & {
      opacity: 1;
    }
  }

  .isvg {
    display: inline-flex;
    align-items: center;
    height: 8px;
    width: 8px;
    margin-right: 2px;
  }

  &.down {
    background: #f07f4f;

    .isvg {
      transform: rotate(180deg);
    }
  }

  svg,
  svg path {
    fill: #fff !important;
  }
}