.p2p-orders .orders-list-filters {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #f1f1f1;

  &-column {
    &__title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: var(--cool-gray);
    }
  }
}
