@import '../../../../../../vars.less';
@nft-margin: 8px;

.WalletsExists {
  display: flex;
  height: 100%;

  .WalletsHeader {
    margin-bottom: 39px;
  }

  &__container {
    padding: 31px 27px 18px 36px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__content {
    height: 100%;
    min-height: 440px;

    .CabinetBlock {
      background: var(--alice-blue) !important;
      padding: 17px 0px 25px;
      width: 100%;
      position: relative;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: start;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    & > div {
      width: 100%;

      &:first-child {
        margin-right: 10px;
      }

      &:last-child {
        max-width: 474px;

        .WalletsExists__items_header {
          padding: 0 38px 0 31px;
        }
      }
    }
  }

  &__items_header {
    // Tokens/NFT box title.
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38px 0 24px;

    & > span {
      &:first-child {
        // Title
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        color: var(--cool-gray);
      }
    }
  }

  .WalletsList {
    // Horizontal paddings to scroll fix at right.
    padding: 0 38px 0 24px;
    box-sizing: border-box;

    .WalletsListItem__icon {
      width: 39px;
      height: 39px;

      .isvg {
        width: 100%;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .WalletsListItem {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &__column {
        justify-content: center;
      }

      .RateIndicator {
        margin-left: 17px;
      }
    }
  }

  // Wallet item texts.
  .WalletsListItem__text {
    &-medium {
      font-weight: 500;
      font-size: 12px;
      line-height: 110%;
      letter-spacing: -0.01em;
      margin-bottom: 0;
    }

    &-large {
      font-weight: 600;
      font-size: 16px;
      line-height: 110%;
      letter-spacing: -0.01em;
      margin-bottom: 5px;
      color: var(--dark-black);
    }
  }

  // Scrollbar tokens/nft container.
  .ScrollbarBox-container {
    margin-top: 23px;
    width: 100%;
    height: calc(100% - 46px);
  }

  // NFT Card.
  .WalletsNFT__cards {
    padding: 0 calc(38px - @nft-margin) 0 calc(31px - @nft-margin);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .WalletsNFTCard {
      margin: 0 8px;
      margin-bottom: 13px;
      width: calc((100% / 3) - @nft-margin * 2);
    }
  }

  .SwitchTabs.light-blue {
    font-size: 11px;
    line-height: 16px;

    .SwitchTabs__item:not(.active) {
      color: var(--primary-dark-blue);
    }
  }

  .Button {
    transition: opacity 0.3s, background 0.3s, box-shadow 0.3s !important;
    animation: buttonShow 0.8s;
  }

  @keyframes buttonShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // Overlay
  &__content .DappUI__Overlay {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__bg {
      background: linear-gradient(
        179.85deg,
        rgba(255, 255, 255, 0.54) 0.13%,
        rgba(255, 255, 255, 0.426) 68.91%
      );
      backdrop-filter: blur(5px);
    }

    h3 {
      margin-top: 25px;
    }
  }

  .nfts .DappUI__Overlay {
    .isvg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 63px;
      height: 63px;
      background: rgba(80, 120, 230, 0.1);
      border-radius: 21px;
    }

    svg {
      width: 29.25px;
      height: 29.25px;
    }

    svg path {
      fill: #5078e6;
    }
  }
}

// Cabinet token items.
.CabinetWallets__tokens {
  &-controls {
    div:last-child {
      margin-left: 23px;
    }
  }

  &-controls,
  &-content {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: calc(@mobile-width + 1px)) and (max-width: 1300px) {
  .WalletsExists {
    .WalletsNFT__cards {
      .WalletsNFTCard {
        width: calc((100% / 2) - @nft-margin * 2);
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .WalletsExists {
    &__row {
      & > div {
        &:last-child {
          max-width: 600px;
        }
      }
    }

    .WalletsNFT__cards {
      .WalletsNFTCard {
        width: calc((100% / 4) - @nft-margin * 2);
      }
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .WalletsExists {
    &__container {
      padding: 32px 11px 10px;
    }

    &__content {
      .WalletsNFT__cards {
        padding: 0 calc(21px - @nft-margin) 0 calc(16px - @nft-margin);
      }

      .WalletsList {
        padding: 0 13px 0 18px;
      }

      .CabinetBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100% !important;
        margin: 0 !important;

        &.nfts {
          padding: 18px 0 13px;
        }

        &.wallets-list {
          padding: 31px 0 13px;

          .WalletsListItem {
            margin-bottom: 35px;
          }
        }

        .ScrollbarBox-container {
          margin: 0;
          height: 100%;
        }
      }
    }

    &__items_footer {
      position: relative;
      width: 100%;
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }

    &__switch {
      padding: 0 30px;
      width: 100%;
      box-sizing: border-box;

      .SwitchTabs__item::before {
        display: none;
      }
    }

    .Button {
      padding-top: 0;
      padding-bottom: 0;
    }

    // <SwitchTabs />
    .SwitchTabs {
      height: auto;
      background: none;

      &__item {
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        color: var(--cool-gray);
        padding-bottom: 8px;

        &.active {
          color: var(--royal-blue);
        }
      }

      &__indicator {
        span {
          height: 3px;
          width: 70%;
          top: auto;
          right: auto;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: var(--royal-blue);
          border-radius: 10px 10px 0px 0px;
        }
      }
    }

    .WalletsListItem__text {
      &-large {
        max-width: 90%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .WalletsExists {
    .WalletsNFT__cards {
      .WalletsNFTCard {
        margin: 0 8px;
        margin-bottom: 13px;
        width: calc((100% / 2) - @nft-margin * 2);
      }
    }
  }
}
