.MethodForm {
  .ContentBox__content {
    padding: 40px;

    form {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 24px;

      .Button {
        margin-top: auto;
      }
    }
  }

  .MethodForm__field {
    display: block;

    .MethodForm__field__label {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 8px;
      margin-left: 16px;
    }
  }
  .MethodForm__response {
    margin: 40px -40px -40px;
    code {
      padding: 24px 40px;
    }
  }
}
