.p2p-order {
  --vertical-block-gap: 30px;

  .CabinetBlock {
    padding: 40px 50px;
  }

  &-body {
    display: flex;
    gap: var(--vertical-block-gap) 10px;

    &__left {
      flex: 1 1 683px;
      display: flex;
      flex-direction: column;
    }

    &__right {
      flex: 1 1 417px;
    }

    &__faq {
      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .DappFAQ {
    width: 100%;
  }
}

.adaptive .p2p-order {
  .CabinetBlock {
    padding: 30px 18px;
  }
}
