.CabinetTable {
  width: 100%;
  border-spacing: 0;

  td {
    padding: 16px 0;
  }

  thead td {
    background: transparent;
    padding: 12px 0;
  }

  // Row border radius
  tr td {
    padding-right: 30px;

    &:first-child {
      padding-left: 16px;
      border-radius: var(--radius-panel) 0 0 var(--radius-panel);
    }

    &:last-child {
      border-radius: 0 var(--radius-panel) var(--radius-panel) 0;
    }
  }

  // Row backgrounds
  tbody {
    tr:nth-child(2n) {
      background: transparent;
    }

    tr {
      background: var(--alice-blue);
    }
  }

  // Fonts
  thead {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--cool-gray);
  }

  tbody {
    font-size: 14px;
    font-weight: 600;
  }

  td.gray {
    color: var(--cool-gray);
  }

  td.dark {
    color: var(--black-gunmetal);
  }

  td.blue {
    color: var(--royal-blue);
  }

  td.small {
    font-weight: 500;
  }
}
