@header-height: 56px;

.CabinetHeader {
  background: var(--contrast-primary);
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);

  .CabinetHeader__content {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .CabinetHeader__logo {
      color: var(--primary);
      background: url('../../../asset/logotype_24.svg') no-repeat center;
      background-size: 144px 24px;
      width: 176px;
      height: @header-height;
    }

    .CabinetHeader__links {
      display: flex;

      .active {
        color: var(--foreground-primary);
        border-bottom-width: 3px;
        border-color: transparent;
        position: relative;

        .isvg {
          color: var(--foreground-primary);
        }

        &:before {
          content: '';
          position: absolute;
          top: calc(100% - 3px);
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: inherit;
          background: linear-gradient(4.37deg, #FFC75D 21.44%, #FFA363 76.19%);
          height: 3px;
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    .CabinetHeader__link {
      color: var(--primary-grey);
      display: flex;
      align-items: center;
      padding: 16px 25px 16px 16px;
      justify-content: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;

      .isvg {
        margin-right: 16px;
        height: 24px;
        color: var(--primary-grey);
      }
    }

    .CabinetHeader__icons {
      display: flex;
    }

    .CabinetHeader__icon {
      width: 16px * 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: @header-height;

      .isvg {
        width: 24px;
        height: 24px;
        color: var(--primary-grey);
      }
    }
  }

}