.CabinetHeader {
  background: var(--contrast-primary);
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);

  .CabinetHeader__content {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .CabinetHeader__logo {
      color: var(--primary);
    }

    .CabinetHeader__links {
      display: flex;

      .active {
        color: var(--foreground-primary);
        border-bottom-width: 3px;
        border-color: transparent;
        position: relative;

        .isvg {
          color: var(--foreground-primary);
        }

        &:before {
          content: '';
          position: absolute;
          top: calc(100% - 3px);
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: inherit;
          background: linear-gradient(4.37deg, #FFC75D 21.44%, #FFA363 76.19%);
          height: 3px;
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    .CabinetHeader__link {
      color: var(--primary-grey);
      display: flex;
      align-items: center;
      padding: 20px 25px;
      justify-content: center;

      .isvg {
        margin-right: 20px;
        color: var(--primary-grey);
      }
    }

    .CabinetHeader__icons {
      .isvg {
        margin: 10px;
        color: var(--primary-grey);
      }
    }
  }

}