.DexSwap__description {
  background: var(--secondary-background);
  border-radius: 15px;
  width: 100%;
  margin: 20px 0 0;
  padding: 19px 21px 25px 19px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: inherit;

  h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;

    &:not(:first-child) {
      margin-top: 18px;
    }
    & > span {
      display: flex;
      align-items: center;
      position: relative;

      &:first-child {
        color: var(--gray);
        white-space: nowrap;
      }
      &:nth-child(2) {
        font-weight: 600;
        text-align: right;
      }
      &.green {
        color: var(--green);
      }
      &.yellow {
        color: var(--yellow);
      }
      &.red {
        color: var(--red);
      }

      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;
        display: inline-block;
      }
    }
  }
}

.adaptive .DexSwap__description {
  width: 100%;
  padding: 15px 15px;
  border-radius: 0;
  box-sizing: border-box;

  & > span {
    &:first-child {
    }
    &:nth-child(2) {
      font-size: 12px;
    }
    a {
      width: 100px;
    }
  }
}
