.MainLanding-ProductCards {
  &__slider {
    padding: 0 22px;
    gap: 21px;
    box-sizing: border-box;
  }
}

.adaptive .MainLanding-ProductCards {
  &__slider {
    padding: 0 15px;
    gap: 12px;
  }
}
