.MainLandingWrapper {
  display: flex;
  flex-direction: column;
  background: var(--alice-blue);

  &__content {
    width: 100%;
  }

  .isvg.flex {
    display: flex;
    align-items: center;
  }
}
