@import '../../../../../../vars.less';

.Referral {
  &__header {
    display: grid;
    grid-template-columns: minmax(200px, 450px) minmax(auto, 521px);
    grid-auto-columns: auto;
    justify-content: space-between;
    margin-bottom: 32px;

    h1 {
      margin-top: 20px;
    }

    .subtitle {
      max-width: 352px;
      margin-bottom: 9px;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: var(--cool-gray);
    }

    .connect-wallet {
      grid-column-start: 1;
      grid-column-end: 3;
      box-sizing: border-box;
    }

    .CopyTextComponent {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 32px;
      &__container {
        // width: 100%;
      }
    }
  }

  &__information {
    width: 100%;

    &__header {
      display: grid;
      grid-template-columns: minmax(auto, calc(100% - 65px)) 54px;
      column-gap: 11px;
      margin-bottom: 23px;

      .Referral__share {
        grid-column: 2/2;

        &.disabled {
          pointer-events: none;
          opacity: 0.8;
          filter: grayscale(1);
        }
      }
    }

    .CabinetBlock {
      width: 100%;
      background: var(--alice-blue);
      padding: 24px 32px 23px 28px;
      border-radius: var(--radius-panel-large);
      box-sizing: border-box;

      & > .Row {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    &__future {
      padding: 0 13px;
      min-height: 133px;
      width: 100%;
      background: #fff;
      border-radius: var(--radius-panel);
      box-sizing: border-box;
      position: relative;
      overflow: hidden;

      &::after,
      &::before {
        content: '';
        background: var(--alice-blue);
        width: 48px;
        height: 48px;
        position: absolute;
        border-radius: 50%;
      }

      &::after {
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
      }

      .secondary-text {
        max-width: 147px;
      }

      // Future columns
      & > .Col {
        &:nth-child(1) {
          width: 44%;
          border-right: 2px dashed #dfe3f0;

          & > span:not(:last-child) {
            margin-bottom: 3px;
          }
        }

        &:nth-child(2) {
          width: 56%;

          span {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            max-width: 128px;
            text-align: center;
            color: var(--cool-gray);
          }
        }
      }

      // &-secondary {
      //   max-width: 138px;
      //   width: 100%;
      //   height: 100%;
      //   padding: 37.5px 0;
      //   background: #fff;
      //   border: 1px solid var(--azureish-white);
      //   border-radius: var(--radius-panel);
      //   box-sizing: border-box;
      // }
    }
  }

  &__copy {
    padding: 16.5px 18.5px;
    box-sizing: border-box;
    background: var(--blue-light-gradient);
    border-radius: var(--radius-panel);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;

    span {
      max-width: 335px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .isvg {
      transition: opacity 0.1s;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1144px) {
  .Referral {
    &__header {
      grid-template-columns: 100%;
    }

    &__information {
      max-width: 521px;
      margin: 10px auto 0;
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .Referral {
    &__header {
      grid-template-columns: 100%;
      margin-bottom: 32px;

      .subtitle {
        max-width: 90%;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 14px;
      }

      & > .Col {
        &:first-child {
          max-width: 100%;
        }
      }
    }

    & &__information {
      margin-top: 30px;

      &_procent {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
      }

      &__header {
        margin-bottom: 15px;
      }

      h2 {
        padding-left: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }

      .create-new-link {
        padding-right: 15px;
      }

      & > .CabinetBlock {
        padding: 18px 15px;

        & > .Row {
          &:nth-child(1) {
            margin-bottom: 15px;
          }
        }
      }

      &__future {
        padding: 8px 11px 8px 14px;

        &::after,
        &::before {
          width: 37px;
          height: 37px;
        }

        .Col:nth-child(2) span {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }

        &,
        &-secondary {
          max-width: 100%;
        }
      }
    }

    &__copy {
      grid-column-start: 1;
      grid-column-end: 3;

      span {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
      }

      .isvg {
        margin-left: 20px;
      }
    }
  }
}
