.DexSwap {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  padding-top: 15px;
  padding-right: 65px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 0;

  // Containers
  &__container {
    width: 100%;
    max-width: 482px;
    position: relative;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &:nth-child(1) {
      margin-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
    }

    &:nth-child(3) {
      margin-bottom: 15px;
    }
  }

  &__bg {
    position: absolute;
    right: -18px; // var(--container-padding)
    top: 0;
  }

  &__bg-center {
    height: 81.15%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-24.7%);
    z-index: -1;

    .isvg {
      height: 100%;
      position: relative;
      bottom: -13.64%;

      svg {
        height: 100%;
        width: auto;
      }
    }
  }

  .CabinetBlock {
    width: 100%;
  }

  // Components
  h1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--black-gunmetal);
  }

  &__description {
    max-width: 391px;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    text-align: center;
    color: var(--cool-gray);
  }

  // <Switch />
  .Switch {
    margin: 0 0 0 15px;
  }

  // <SwitchTabs />
  .SwitchTabs {
    width: 100%;
    height: 66px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-dark-blue);
  }

  .switch-label {
    margin: 0 0 0 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    color: var(--royal-blue);
  }

  // <CabinetBlock />
  .CabinetBlock {
    padding: 0;
    border-radius: 25px;
  }

  // --Form
  .DexSwap__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 33px 31px;
    box-sizing: border-box;

    & > .isvg {
      margin: 21px 0;
      cursor: pointer;
    }

    // <Button />
    & > .Button {
      width: 100%;
      height: 72px;
      margin-top: 31px;
      border-radius: 15px;

      .Button__label {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .isvg {
        width: 29px;
        height: 29px;
        margin-right: 11px;

        svg {
          width: 100%;
          height: 100%;
        }

        svg,
        path {
          fill: #fff;
        }
      }
    }
  }

  // All icons for this
  .isvg {
    display: flex;
    align-items: center;
  }

  &__Price, &__Slippage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 15px;
    margin-top: 12px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;

    & + .DexSwap__Slippage {
      margin-top: 0;
    }
    span {
      &:first-child {
        opacity: 0.6;
      }
      &:nth-child(2) {
        font-size: 14px;
      }
    }
  }

  &__description {
    background: #fff;
    border-radius: var(--radius-panel);
    width: 100%;
    margin: 24px 0 0;
    padding: 24px 24px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;

    h3 {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 20px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: flex;
        align-items: center;
        position: relative;

        &:first-child {
          color: var(--gray);
        }
        &:nth-child(2) {
          font-size: 14px;
        }
        &.green {
          color: var(--green);
        }
        &.yellow {
          color: var(--yellow);
        }
        &.red {
          color: var(--red);
        }

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 160px;
          display: inline-block;
        }
      }
    }
  }
  .HoverPopup {
    position: absolute;
    right: -18px;
    z-index: 1;

    &__content {
      z-index: 100;
      color: var(--cool-gray);
      font-weight: 400;
    }
  }
  &__hint {
    z-index: 100;
    text-align: left;
    min-width: 300px;
  }
}

.adaptive .Exchange__wrapper {
  padding-top: 20px;
}

.adaptive .DexSwap {
  padding: 15px 0;

  h1 {
    font-size: 24px;
  }
  &__bg {
    display: none;
  }
  .CabinetBlock {
    border-radius: 0;
  }
  &__form {
    padding: 24px 16px;
  }
  &__description {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;

    span {
      &:first-child {

      }
      &:nth-child(2) {
        font-size: 12px;
      }
      a {
        width: 100px;
      }
    }
  }
}