.DexSwap {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  padding-top: 15px;
  padding-right: 65px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 0;

  // Containers
  &__container {
    width: 100%;
    max-width: 482px;
    position: relative;
  }

  &__header {
    margin: 0 0 40px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &:nth-child(1) {
      margin-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
    }

    &:nth-child(3) {
      margin-bottom: 15px;
    }
  }

  &__bg {
    position: absolute;
    right: -18px; // var(--container-padding)
    top: 0;
  }

  &__bg-center {
    height: 81.15%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-24.7%);
    z-index: -1;

    .isvg {
      height: 100%;
      position: relative;
      bottom: -13.64%;

      svg {
        height: 100%;
        width: auto;
      }
    }
  }

  .CabinetBlock {
    width: 100%;
    background: var(--primary-background);
  }

  // Components
  h1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--black-gunmetal);
  }

  // <Switch />
  .Switch {
    margin: 0 0 0 15px;
  }

  // <SwitchTabs />
  .SwitchTabs {
    width: 100%;
    height: 66px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-dark-blue);
  }

  .switch-label {
    margin: 0 0 0 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    color: var(--royal-blue);
  }

  // <CabinetBlock />
  .CabinetBlock {
    padding: 0;
    border-radius: 25px;
  }

  // --Form
  .DexSwap__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 33px 31px;
    box-sizing: border-box;

    & > .isvg {
      margin: 21px 0;
      cursor: pointer;
    }

    // <Button />
    & > .Button {
      width: 100%;
      height: 72px;
      margin-top: 31px;
      border-radius: 15px;

      .Button__label {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .isvg {
        width: 29px;
        height: 29px;
        margin-right: 11px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // All icons for this
  .isvg {
    display: flex;
    align-items: center;
  }

  &__Price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0 8px 8px;
    margin-top: 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    position: relative;

    & + .DexSwap__Slippage {
      margin-top: 0;
    }
    span {
      &:first-child {
        opacity: 0.5;
      }
      &:nth-child(2) {
        font-weight: 600;
        margin-right: 24px + 19px;
      }
    }
    &-swap {
      position: absolute;
      right: 16px;
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--blue-gradient);
        opacity: 0.12;
        border-radius: 50%;
      }
      &:hover {
        box-shadow: 0 4px 8px rgb(64 112 255 / 12%);
      }
    }
  }

  &__description {
    background: var(--secondary-background);
    border-radius: 15px;
    width: 100%;
    margin: 20px 0 0;
    padding: 19px 21px 25px 19px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: inherit;

    h3 {
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 20px;
    }
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: 500;

      &:not(:first-child) {
        margin-top: 18px;
      }
      span {
        display: flex;
        align-items: center;
        position: relative;

        &:first-child {
          color: var(--gray);
          white-space: nowrap;
        }
        &:nth-child(2) {
          font-weight: 600;
          text-align: right;
        }
        &.green {
          color: var(--green);
        }
        &.yellow {
          color: var(--yellow);
        }
        &.red {
          color: var(--red);
        }

        a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 160px;
          display: inline-block;
        }
      }
    }
  }
  .HoverPopup {
    margin-left: 6px;
    width: fit-content;

    &__content {
      z-index: 100;
      color: var(--almost-black);
      white-space: normal;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.6em;
    }
  }
  &__hint {
    z-index: 100;
    text-align: left;
    min-width: 300px;
  }
  &__route {
    width: 100%;
    margin: 24px;

    h3 {
      padding: 0 8px;

      span {
        position: relative;
        font-size: 16px;
        font-weight: 600;
      }
      .HoverPopup {
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        transform: translateY(-1px);

        &__children {
          background: rgba(45,49,63, 0.21);
          width: 14px;
          height: 14px;
          color: white;
          font-size: 10px;
          font-weight: 600;
          line-height: 2em;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &-container {
      display: flex;
      padding: 21px 19px;
      border: 1px solid var(--light-gray);
      border-radius: 20px;
      margin-top: 10px;
      background: var(--secondary-background);
      width: fit-content;
    }
    &-symbol {
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
    &-arrow {
      margin: 0 12px;
    }
    &-logo {
      width: 30px;
      height: 30px;
      background-color: var(--light-gray);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
}

.adaptive .Exchange__wrapper {
  padding-top: 20px;
}

.adaptive .DexSwap {
  padding: 15px 0;

  h1 {
    font-size: 24px;
  }
  &__bg {
    display: none;
  }
  .CabinetBlock {
    border-radius: 0;
  }
  &__form {
    padding: 24px 16px;
  }
  &__description {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;
    box-sizing: border-box;

    span {
      &:first-child {

      }
      &:nth-child(2) {
        font-size: 12px;
      }
      a {
        width: 100px;
      }
    }
  }
  &__route {
    h3 {
      text-align: center;
    }
    &-container {
      margin: 10px auto 0;
    }
  }
}

body.theme-dark .DexSwap {
  .CabinetBlock {

  }
}