.DexSwap {
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &:nth-child(1) {
      margin-bottom: 12px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
    }

    &:nth-child(3) {
      margin-bottom: 15px;
    }
  }

  .CabinetBlock {
    width: 100%;
    background: var(--primary-background);
  }

  // <CabinetBlock />
  .CabinetBlock {
    padding: 0;
    border-radius: 25px;
  }

  // --Form
  .DexSwap__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px 33px 31px;
    box-sizing: border-box;

    & > .isvg {
      margin: 21px 0;
      cursor: pointer;
    }

    // <Button />
    & > .Button {
      width: 100%;
      height: 72px;
      margin-top: 31px;
      border-radius: 15px;

      .Button__label {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .isvg {
        width: 29px;
        height: 29px;
        margin-right: 11px;

        svg {
          width: 100%;
          height: 100%;
        }

        svg,
        path {
          fill: #fff;
        }
      }
    }
  }
}

.adaptive .Exchange__wrapper {
  padding-top: 20px;
}

.adaptive .DexSwap {
  padding: 15px 0;

  h1 {
    font-size: 24px;
  }
  &__bg {
    display: none;
  }
  .CabinetBlock {
    border-radius: 0;
  }
  &__form {
    padding: 24px 16px;
  }
  &__description {
    width: 100%;
    padding: 15px 15px;
    border-radius: 0;
    box-sizing: border-box;

    span {
      &:first-child {

      }
      &:nth-child(2) {
        font-size: 12px;
      }
      a {
        width: 100px;
      }
    }
  }
}

body.theme-dark .DexSwap {
  .CabinetBlock {

  }
}