.Currency__Transaction {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &__amount {
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: var(--dark-black);

    &-empty {
      color: var(--cool-gray);
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }

  p {
    font-size: 16px;
    line-height: 100%;
    color: #292d32;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  .Col:first-child {
    .isvg {
      width: 41px;
      height: 31px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
