.CurrencyLabel {
  position: relative;
  padding-left: 32px;
  display: inline-flex;
  align-items: center;
  height: 24px;

  .CurrencyLabel__icon {
    position: absolute;
    left: 0;
    top: -2px;
    bottom: 0;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  .CurrencyLabel__abbr {
    text-transform: uppercase;
  }
}
