.DynamicModal {
  .Modal__box {
    min-width: 400px;
    max-width: 800px;

    .Input__wrapper,
    .Button,
    .Select {
      margin: 8px 0;
    }

    .CheckBox {
      margin: 16px 0;
    }

    p {
      margin: 24px 0;
    }
  }
}
