.Chart__tooltip {
  color: var(--contrast-primary);
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
}

.Chart__tooltip_date {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: var(--primary-grey);
  margin-top: 8px;
}

.Chart__xaxis_invisible {
  opacity: 0;
}

.Chart__legend_item {
  color: var(--contrast-primary);
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  border-radius: 16px;
  padding: 1px 13px 0;
  font-family: 'Montserrat', sans-serif;
}