.p2p-order-choosed-method {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  padding: 25px 20px;
  border-radius: 8px;
  background: var(--alice-blue);

  font-size: 16px;
  line-height: 20px;
  color: var(--black-gunmetal);

  .orders-list-payment-item {
    padding: 6px 16px;
    border: 1px solid #e0e0e0;
    border-radius: var(--radius-panel-large);
  }
}

.adaptive .p2p-order-choosed-method {
  padding: 15px;
  
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-black);

  .orders-list-payment-item {
    padding: 0;
    border: none;
    border-radius: none;
  }
}
