.ConfirmModal {
  max-width: 300px;

  .ConfirmModal__buttons {
    display: flex;
    margin: 24px -8px 0;
  }

  .Button {
    flex: 1;
    min-width: 144px;
    margin: 0 8px;
  }

  .ConfirmModal__content {
    opacity: .8;
    font-size: 13px;
    line-height: 24px;
    margin: 16px 0 32px;
    text-align: center;
  }
}