.Dropdown {
  background: var(--contrast-primary);
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  position: relative;

  .Dropdown__header {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: stretch;

    .isvg {
      margin: 0 3px 0 11px;
      height: 16px;
    }
  }

  .Dropdown__options {
    position: absolute;
    background: var(--contrast-primary);
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0  0 8px 8px;
    width: 100%;
    z-index: 12;

    .Dropdown__option {
      padding: 10px 16px;
      cursor: pointer;
  
      &:hover {
        color: var(--primary);
      }
    }
  }

  .Dropdown__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    color: var(--foreground-primary-opacity);

    .Dropdown__option__title {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }

    .Dropdown__option__note {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.444444px;
      color: var(--primary-grey);
    }
  }
}

.Dropdown_open {
  border-radius: 8px 8px 0 0;
}
