.Dropdown {
  background: var(--secondary-background);
  box-shadow: var(--main-shadow);
  border-radius: 8px;
  position: relative;
  user-select: none;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  .Dropdown__header {
    background: inherit;
    border-radius: inherit;
    position: relative;
    z-index: 13;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: stretch;

    .Dropdown__option {
      width: calc(100% - 30px);
    }

    .isvg {
      display: block;
      margin: 0 3px 0 11px;
      height: 16px;
      width: 16px;
    }
  }

  .Dropdown__options {
    position: absolute;
    background: var(--secondary-background);
    box-shadow: var(--main-shadow);
    border-radius: 0  0 8px 8px;
    width: 100%;
    z-index: 12;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid var(--dairy);

    .Dropdown__option {
      box-sizing: border-box;
      padding: 10px 16px;
      cursor: pointer;

      &.disabled {
        opacity: .5;
        pointer-events: none;
      }

      &:hover {
        color: var(--primary-orange);
      }
    }
  }

  .Dropdown__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--black);

    .Dropdown__option__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }

    .Dropdown__option__note {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.444444px;
      color: var(--dark-gray);
      padding-left: 10px;
    }
  }

  &.small {
    border-radius: 12px;
    box-shadow: var(--small-shadow);
    color: var(--dark-gray);

    .Dropdown__header {
      padding: 0;

      .isvg {
        margin: 0;
        margin-right: 16px;
      }
    }

    &.Dropdown_open {
      border-radius: 12px 12px 0 0;
    }

    .Dropdown__option {
      line-height: 16px;
      padding: 4px 16px;

      .Dropdown__option__title {
        line-height: inherit;
      }
    }

    .Dropdown__options {
      &::before {
        display: none;
      }

      .Dropdown__option {
        &:hover {
          background: var(--dairy);
          color: var(--text-black);
        }
      }
    }
  }
}

.Dropdown_open {
  border-radius: 8px 8px 0 0;
  z-index: 100;
}

.Dropdown__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
