@import '../../vars';

.Radio {
  display: flex;
  align-items: center;
  font-family: @font-family;
  cursor: pointer;
  user-select: none;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &.disabled {
    pointer-events: none;
  }
}

.Radio__indicator {
  border: 2px solid var(--primary-blue);
  width: 24px;
  height: 24px;
  box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--blue-gradient);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .Radio.selected &:after {
    opacity: 1;
  }

  .Radio.disabled & {
    background: var(--cloudy);
    border: 0;
  }

  .Radio.disabled & {
    background: none;
    border: 2px solid var(--cloudy);

    &:after {
      background: var(--cloudy);
    }
  }
}

.Radio__label {
  margin-left: 12px;
  font-size: 15px;
  line-height: 20px;
}

.Radio.small {
  margin-top: 5px;

  .Radio__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .Radio__indicator {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    border-width: 1px;

    &::after {
      width: 12px;
      height: 12px;
    }
  }
}

.Radio.extra_small {
  &:not(:first-child) {
    margin-top: 8px;
  }

  .Radio__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-left: 7px;
  }

  .Radio__indicator {
    width: 11px;
    height: 11px;
    border-width: 1px;

    &::after {
      width: 5px;
      height: 5px;
    }
  }

  &.selected .Radio__label {
    font-weight: 600;
  }
}

.Radio.light-blue {
  .Radio__label {
    color: var(--cool-gray);
  }

  .Radio__indicator {
    border-color: var(--cool-gray);
  }

  &.selected .Radio__indicator {
    border-color: var(--royal-blue);

    &::after {
      background: var(--royal-blue);
    }
  }
}

.Radio.malibu {
  .Radio__label {
    color: var(--black-gunmetal);
  }

  .Radio__indicator {
    border-color: var(--malibu);
  }

  &.selected .Radio__indicator {
    &::after {
      background: var(--malibu);
    }
  }
}
