.AuthModal {
  .Input {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.08);
    margin: 40px 5px 0 5px;
    width: 320px;
    display: block;
    border: 1px solid #f1f1f1;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--primary-grey);
    }
  }

  .AuthModal__ga {
    .AuthModal__footer {
      margin: 30px 0 10px;

      .Button {
        margin: 4px 8px;

        .Button__label {
          font-size: 13px;
        }
      }
    }
  }

  .AuthModal__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.444444px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .AuthModal__content {
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .AuthModal__content__ga {
      max-width: 320px;
      text-align: center;

      .AuthModal__title {
        text-align: left;
      }

      .AuthModal__content__ga__msg {
        font-weight: 300;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.444444px;
        color: rgba(0, 0, 0, 0.87);
      }

      .AuthModal__content__ga__hash {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.444444px;
        border: none;
        outline: none;
        cursor: default;
      }

      img {
        width: 190px;
        height: 190px;
        margin: 15px;
      }
    }

    .AuthModal__err_msg {
      text-align: center;
      font-size: 12px;
      color: var(--negative);
      line-height: 0px;
      letter-spacing: 0.4444px;
    }
    
    .CheckBox {
      align-self: center;
      margin-top: 30px;

      .CheckBox__label {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.444444px;
        color: var(--primary-grey);
      }
    }

    .AuthModal__content__title {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: #40BF9D;
    }

    .AuthModal__input_wrapper {
      position: relative;

      img {
        position: absolute;
        transform: translate(283px, -39px);
        width: 26px;
        height: 26px;
      }
    }

    .AuthModal__content__msg {
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: var(--primary-grey);
      padding: 10px 20px;
      max-width: 200px;
      margin: 0 40px;
    }

    .AuthModal__tick {
      margin: 40px;
    }    
  }

  .AuthModal__help_link {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.444444px;
    color: #BFBFBF;
    margin-top: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .AuthModal__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    .AuthModal__footer__link {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.444444px;
      color: var(--primary);
      width: 50%;
      cursor: pointer;
    }

    .Button {
      width: 50%;
      margin: 0;
    }
  }
}

.RegisterModal {
  .AuthModal__content {
    .CheckBox {
      margin-top: 50px;
    }
  }
  .AuthModal__footer {
    margin-top: 25px;
  }
}