.Label {
  display: inline-flex;
  border: 1px solid #F5F1EE;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 4px 8px;
  align-items: center;
  margin: 4px;

  .Label__name {
    color: var(--primary-grey);
    margin-right: .5em;
  }

  .Label__cancel {
    cursor: pointer;
    color: var(--primary-grey);
    margin: -8px;
    margin-left: 2px;
    margin-right: -4px;

    .isvg {
      display: block;
      line-height: 0;
    }
  }
}