body, input, textarea {
  font-family: 'Montserrat', sans-serif;
}

body {
  user-select: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.AppLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  font-size: 16px;
}

/* TODO: Find a better method */
.Layout_spacing {
  padding: 0 100px;

  @media (max-width: 992px) { padding: 0 70px; }
  @media (max-width: 768px) { padding: 0 30px; }
  @media (min-width: 1341px) { max-width: 1340px; margin: 0 auto; }
}

:root {
  --foreground-primary: #000;
  --foreground-secondary: #9A9A9A;
  --contrast-primary: #fff;

  --site-homepage-product-bg-title-color: #FAF7F5;

  --primary: #FF9E65;
  --primary-light: #FFCC5C;
  --background-secondary: #F5F1EE;
  --gradient-primary: linear-gradient(to right bottom, #FFC75D 0%, #FFA363 100%);
  --negative: #FA6443;

  --accent: #658BF5;
  --accent-light: #8DB0FF;

  --secondary-active-background: #FBF9F6;
  --grey-logo-color: #C8C8C8;

  --link-color: #FFA640;
}
