body, input, textarea {
  font-family: 'Montserrat', sans-serif;
}

body {
  user-select: none;
}

:root {
  --foreground-primary: #000;
  --foreground-secondary: #9A9A9A;
  --contrast-primary: #fff;
}
