body.theme-light,
.SiteWrapper {
  ////Primary colors
  --primary-orange: #FFA041;
  --dark-orange: #FFA041;

  --primary-blue: #648CF5;
  --dark-blue: #466EE6;

  //Primary Gradients
  --orange-gradient-color-start: #FFBE41;
  --orange-gradient-color-end: #FF9141;
  --orange-gradient: linear-gradient(62.98deg, var(--orange-gradient-color-start) 0%, var(--orange-gradient-color-end) 100%);

  --blue-gradient-color-start: #78A0FF;
  --blue-gradient-color-end: #5078E6;
  --blue-gradient: linear-gradient(169.99deg, var(--blue-gradient-color-start) 0%, var(--blue-gradient-color-end) 100%);

  //Grayscale colors
  --black: #212121;
  --text-black: #4D4D4D;
  --dark-gray: #808080;
  --gray: #A1A1A1;
  --light-gray: #CCCCCC;

  --dairy: #F5F0EB;
  --light-dairy: #FBF8F6;
  --white: #fff;

  --text-green: #009B73;
  --green: #37B496;
  --light-green: #EBF5F5;

  --text-yellow: #E6AA00;
  --yellow: #FFC832;
  --light-yellow: #FFF5E6;

  --text-red: #F03723;
  --red: #FA7364;
  --light-red: #FFF5F5;


  --small-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.1);
  --main-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);

  --primary-background: var(--white);
}


body.theme-dark {
  //Primary colors
  --primary-orange: #FFA041;
  --dark-orange: #FFA041;

  --primary-blue: #648CF5;
  --dark-blue: #466EE6;

  //Primary Gradients

  --orange-gradient-color-start: #FFBE41;
  --orange-gradient-color-end: #FF9141;
  --orange-gradient: linear-gradient(62.98deg, var(--orange-gradient-color-start) 0%, var(--orange-gradient-color-end) 100%);

  --blue-gradient-color-start: #78A0FF;
  --blue-gradient-color-end: #5078E6;
  --blue-gradient: linear-gradient(169.99deg, var(--blue-gradient-color-start) 0%, var(--blue-gradient-color-end) 100%);

  //Grayscale colors
  --black: #fffff;
  --text-black: #EBEBEB;
  --dark-gray: #FBF8F6;
  --gray: #CCCCCC;
  --light-gray: #A1A1A1;

  --dairy: #575757;
  --light-dairy: #212121;
  --white: #292929;

  --text-green: #009B73;
  --green: #37B496;
  --light-green: rgba(55, 180, 150, 0.05);

  --text-yellow: #E6AA00;
  --yellow: #FFC832;
  --light-yellow: rgba(255, 200, 50, 0.05);

  --text-red: #F03723;
  --red: #FA7364;
  --light-red: rgba(240, 55, 35, 0.05);

  --small-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.1);
  --main-shadow: 0px 6px 24px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25);
  --hover-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08), 0px 0px 2px rgba(0, 0, 0, 0.1);

  --primary-background: var(--white);
  --secondary-background: #383838;
}

@site-container-width: 1404px;
@site-header-height: 124px;
