body,
.SiteWrapper {
  //Font
  --font-size-landing: 16px;
  --font-size-title: 32px;

  //Paddings and sizes
  --padding-section: 80px;
  --padding-panel: 40px;

  ////Primary colors
  --primary-orange: #ff9326;
  --primary-orange-opacity: rgba(255, 147, 38, 0.1);
  --dark-orange: #f28d00;

  --royal-blue: #5078e6;
  --secondary-blue: #3071ee;
  --primary-blue: #1949d7;
  --primary-blue-opacity: rgba(58, 101, 230, 0.1);
  --dark-blue: #1949d7;
  --primary-dark-blue: #365fd9;

  //Primary Gradients
  --orange-gradient-color-start: #ffa526;
  --orange-gradient-color-end: #ff860d;
  --orange-gradient: linear-gradient(
    0deg,
    var(--orange-gradient-color-end) 0%,
    var(--orange-gradient-color-start) 100%
  );

  --blue-gradient-color-start: #4d72df;
  --blue-gradient-color-end: #274cbd;
  --blue-gradient: linear-gradient(
    0deg,
    var(--blue-gradient-color-end) 0%,
    var(--blue-gradient-color-start) 100%
  );

  --blue-light-gradient-color-start: #78a0ff;
  --blue-light-gradient-color-end: #5078e5;
  --blue-light-gradient: linear-gradient(
      135deg,
      var(--blue-light-gradient-color-start) 0%,
      var(--blue-light-gradient-color-end) 100%
    ),
    #224dcf;

  --primary-blue-color-start: #4070ff;
  --primary-blue-color-end: var(--primary-dark-blue);
  --primary-blue-gradient: linear-gradient(
    180deg,
    var(--primary-blue-color-start) 0%,
    var(--primary-blue-color-end) 100%
  );

  //Grayscale colors
  --black-gunmetal: #2d313f;
  --dark-gunmetal: #222330;
  --dark-black: #0a1539;
  --black: #1c212e;
  --almost-black: #2e323e;
  --text-black: #3a3f4d;

  --cool-gray: #9095a5;
  --cool-dark-gray: #757575;
  --slate-gray: #595e6b;
  --dark-gray: #7b808c;
  --gray: #9ea2ad;
  --light-gray: #c9ccd4;
  --extra-light-gray: #e4e6ed;
  --sidebar-icon: #c9ccd4;

  --cloudy: #edf0f5;
  --alice-blue: #f7f9fc;
  --azureish-white: #dfe3f0;

  --white: #fff;

  --text-secondary: #4e5c85;

  --light-green: #5ec47a;

  --text-green: #008060;
  --light-green: #5ec47a;
  --green: #00b277;
  --green-opacity: rgba(0, 178, 119, 0.1);
  --light-green: #ebf5f5;

  --text-yellow: #e6aa00;
  --yellow: #ffc832;
  --yellow-opacity: rgba(255, 200, 50, 0.1);
  --light-yellow: #fff5e6;

  --text-red: #e51300;
  --red: #ff4433;
  --red-opacity: rgba(240, 55, 35, 0.1);
  --light-red: #fff5f5;

  --small-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15),
    0px 1px 4px rgba(0, 0, 0, 0.1);
  --main-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08),
    0px 0px 2px rgba(0, 0, 0, 0.15);
  --hover-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08),
    0px 0px 2px rgba(0, 0, 0, 0.1);

  --primary-background: var(--white);
  --secondary-background: var(--alice-blue);

  // Sizes
  --radius-panel: 12px;
  --radius-panel-large: 25px;
  --radius-button: 12px;
}

body.theme-dark {
  ////Primary colors
  --primary-orange: #ff9326;
  --primary-orange-opacity: rgba(255, 147, 38, 0.1);
  --dark-orange: #f28d00;

  --primary-blue: #3b6dff;
  --primary-blue-opacity: rgba(58, 101, 230, 0.1);
  --dark-blue: #1949d7;

  //Primary Gradients
  --orange-gradient-color-start: #ffa526;
  --orange-gradient-color-end: #ff860d;
  --orange-gradient: linear-gradient(
    0deg,
    var(--orange-gradient-color-end) 0%,
    var(--orange-gradient-color-start) 100%
  );

  --blue-gradient-color-start: #4d72df;
  --blue-gradient-color-end: #274cbd;
  --blue-gradient: linear-gradient(
    0deg,
    var(--blue-gradient-color-end) 0%,
    var(--blue-gradient-color-start) 100%
  );

  //Grayscale colors
  --black: #d9d9d9;
  --almost-black: #d9d9d9;
  --text-black: #dbdbdb;

  --slate-gray: #595e6b;
  --dark-gray: #7b808c;
  --gray: #9ea2ad;
  --light-gray: #192230;
  --extra-light-gray: #1a2332;
  --sidebar-icon: #c9ccd4;

  --cloudy: #25354a;
  --alice-blue: #f7f9fc;

  --white: #fff;

  --text-secondary: #4e5c85;

  --text-green: #008060;
  --green: #00b277;
  --green-opacity: rgba(0, 178, 119, 0.1);
  --light-green: #ebf5f5;

  --text-yellow: #e6aa00;
  --yellow: #ffc832;
  --yellow-opacity: rgba(255, 200, 50, 0.1);
  --light-yellow: #fff5e6;

  --text-red: #e51300;
  --red: #ff4433;
  --red-opacity: rgba(240, 55, 35, 0.1);
  --light-red: #fff5f5;

  --small-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15),
    0px 1px 4px rgba(0, 0, 0, 0.1);
  --main-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08),
    0px 0px 2px rgba(0, 0, 0, 0.15);
  --hover-shadow: 0px 6px 24px rgba(0, 0, 0, 0.08),
    0px 0px 2px rgba(0, 0, 0, 0.1);

  --primary-background: rgb(35, 48, 68);
  --secondary-background: rgb(27, 38, 53);
}

body {
  --gap-size: 20px;

  @media (max-width: @mobile-width) {
    --gap-size: 16px;
  }
}

@site-container-width: 1404px;
@site-header-height: 124px;
@landing-container-width: 1160px;
@landing-container-padding: 9px;

@mobile-width: 768px;
@small-mobile-width: 320px;
@desktop-width: calc(@mobile-width + 1px);