.DocumentationMenu {
  position: relative;
  color: var(--dark-gray);

  .DocumentationMenu__editMode {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding-left: 24px;
    margin-bottom: 24px;

    .Switch {
      margin: 0;
      margin-left: auto;
    }
  }

  .DocumentationMenu__list {

    .DocumentationMenu__list__item {
      display: block;
      cursor: pointer;

      .DocumentationMenu__list__item__title {
        display: block;
        padding: 12px 16px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;

        &.active {
          font-weight: bold;
          color: var(--text-black);
        }
      }

      &.active {
        .DocumentationMenu__list__item__title {
          font-weight: bold;

          &:before {
            border-radius: 2px;
            position: absolute;
            left: 0;
            content: '';
            display: block;
            background: var(--dark-blue);
          }
        }
      }
    }


    .DocumentationMenu__list {
      margin-left: 14px;
      border-left: 2px solid var(--light-gray);
    }
  }
}
