@import '../../../../vars.less';

.YourWalletModal {
  .TransactionModal {
    &__header {
      padding: 0;
    }
  }

  .row:empty {
    display: none;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:nth-child(1) {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #00b277;
    }

    &:nth-child(3) {
      padding-bottom: 25px;
    }
  }

  .Button {
    padding: 0 64px;

    &.secondary-light {
      width: 100%;

      .Button__label {
        color: var(--primary-dark-blue);
      }
    }
  }

  &__address {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    max-width: 100%;
    overflow: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .action-text {
    display: inline-flex;
    font-weight: 600;
    color: var(--primary-dark-blue);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    .isvg {
      display: inline-flex;
      align-items: center;
      margin-left: 8px;

      .copy-icon {
        path {
          fill: var(--royal-blue);
        }
      }
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .YourWalletModal {
    .Button {
      --button-height: 47px;
      padding: 0 19.5px;
    }

    .row {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:nth-child(1) {
        margin-top: 22px;
      }

      &:nth-child(3) {
        flex-direction: column;
        align-items: start;
        padding: 0;

        .col {
          margin-bottom: 16px;
        }
      }
    }
  }
}
