@import '../../../../vars.less';

.NarfexDAO .MainScreen {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
  }

  .LandingContainer {
    position: relative;
    padding: 137px 24px 352px;
  }

  h1 {
    max-width: 482px;
    margin-bottom: 25px;
    background: var(--blue-light-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 600;
    font-size: 89px;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

  p {
    max-width: 411px;
    margin-bottom: 78px;

    font-weight: 500;
    font-size: 19px;
    line-height: 180%;
    color: #939393;
  }

  .Button {
    min-width: 232px;
    height: 77px;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 0 50px;
  }

  &__bg {
    position: absolute;
    bottom: -62px;
    left: 353px;
    z-index: 1;
  }

  a {
    text-decoration: none;
  }

  @media screen and (max-width: @mobile-width) {
    .LandingContainer {
      position: relative;
      padding: 77px 26px 162px;
    }
    
    h1 {
      font-size: 52px;
      line-height: 100%;
      text-align: center;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }

    p {
      max-width: 100%;
      margin-bottom: 31px;
      font-size: 16px;
      line-height: 180%;
      text-align: center;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    a {
      margin: -16px auto 0;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
    }

    .isvg {
      height: 543px;
      position: relative;
      display: flex;
      justify-content: center;
      order: 2;
      -webkit-order: 2;
      -ms-flex-order: 2;
    }

    &__bg {
      width: 543px;
      height: 543px;
      position: absolute;
      left: auto;
      top: 0;
      bottom: auto;
    }
  }
}
