.HoverPopup {
  display: flex;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    // Close this popup
    opacity: 0;
    visibility: hidden;
    // -------
    z-index: 99;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0px 15px 75px rgba(0, 0, 0, 0.1);

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__children {
    cursor: pointer;
  }

  &__triangle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .isvg {
      margin: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
