.ReceiveCoinsModal__warning.ReceiveCoinsModal__copy_btn {
  width: 24px;
  height: 24px;
  color: var(--dark-gray);
  cursor: pointer;
}

.ReceiveCoinsModal {
  margin-top: 20px;
}

.ReceiveCoinsModal__button_wrap {
  text-align: center;
}

.ReceiveCoinsModal__button {
  display: inline-block;
  position: relative;
  margin: 0 auto;

  .Button {
    min-width: 208px;
  }
}

.ReceiveCoinsModal__copied_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 16px;
  height: 16px;
  color: var(--primary-background);
  z-index: 2;
}

.ReceiveCoinsModal__qrcode {
  text-align: center;

  canvas {
    border: 7px solid white;
  }
}

.ReceiveCoinsModal__warning {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--red);
  text-align: center;
  width: 100%;
  margin: 10px auto 0;
}
