.ReceiveCoinsModal__warning.ReceiveCoinsModal__copy_btn {
  width: 24px;
  height: 24px;
  color: var(--text-black);
  cursor: pointer;
}

.ReceiveCoinsModal {
  margin-top: 20px;

  .SendCoinsModal__wallet {
    .CircleIcon {
      margin-right: 16px;
    }
  }
}

.ReceiveCoinsModal__button {
  display: inline-block;
  position: relative;
  margin: 0 auto;

  .Button {
    min-width: 208px;
  }
}

.ReceiveCoinsModal__copied_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 16px;
  height: 16px;
  color: var(--primary-background);
  z-index: 2;
}

.ReceiveCoinsModal__body {
  margin-top: 40px;
  display: flex;

  .ReceiveCoinsModal__qrcode {
    text-align: center;
    margin-top: auto;
    margin-right: 24px;

    canvas {
      display: block;
      border: 7px solid white;
    }
  }

  .Clipboard {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: auto;
  }

  .ReceiveCoinsModal__content {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: 7px 0;
  }
}

.ReceiveCoinsModal__warning {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--red);
  text-align: center;
  width: 100%;
  margin: 10px auto 0;
}

.adaptive {
  .ReceiveCoinsModal__body {
    flex-direction: column;

    .Clipboard {
      margin-bottom: 32px;
    }
  }

  .ReceiveCoinsModal__qrcode {
    align-self: center;
    margin-right: 0;
    margin-bottom: 16px;
  }
  .ReceiveCoinsModal__content {
    width: 100%;
  }
}
