.p2p-orders .orders-list__wrapper {
  padding: 40px 50px;
  color: var(--dark-black);

  .orders-list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;

    &__number,
    &__prev,
    &__next {
      width: 18px;
      height: 18px;
      border-radius: 4px;
      transition: background 0.2s;

      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      color: var(--dark-black);

      &.active {
        background: #f7f8fb;
      }

      &:not(.active):hover {
        background: #f7f8fb;
      }
    }

    &__skip {
      margin: 0 4px;
    }
  }
}

.adaptive .p2p-orders .orders-list__wrapper {
  padding: 30px 18px;
}
