.p2p-orders .orders-list-filters--adaptive {
  margin-bottom: 30px;

  &-content {
    margin-top: 9px;
    padding: 15px 8px;
    background: var(--alice-blue);
    border-radius: 10px;
    gap: 20px;
    box-sizing: border-box;

    .CustomButton {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: var(--dark-black);

      &:nth-child(2) {
        margin-left: auto;
      }
    }

    .WalletIcon {
      margin-right: 6px;
    }

    .dark-dropdown-icon {
      width: 7px;
      height: 4px;

      path {
        fill: var(--dark-black);
      }
    }
  }
}
