.Wallet__screen {

  .SitePageInfoBlock__screen {
    width: 705px;
    object-fit: contain;
    transform: translate(0px, -30px);

    @media (min-width: 1200px) { object-fit: cover; transform: translate(102px, -46px); }

  }

  .WalletFeature__item {
    margin-top: 50px;
  }

  .WalletFeature__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 64px 40px;
    margin-bottom: 150px;

    @media (min-width: 1120px) { grid-template-columns: repeat(2, minmax(280px, 1fr)) }
    @media (min-width: 1400px) { grid-template-columns: repeat(4, minmax(280px, 1fr)) }
  }
}

