@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.SendTokens {
  & > .Modal__box {
    & > .CabinetModal__container {
      padding: 40px 38px;
      background: #fff;
      border-radius: var(--radius-panel);
    }
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-black);
  }

  &__address {
    position: relative;

    input {
      padding-right: 36px !important;
    }

    &-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      fill: var(--light-gray);
      cursor: pointer;

      path {
        fill: var(--light-gray);
        transition: fill 0.2s;
      }

      &:hover {
        path {
          fill: var(--royal-blue);
        }
      }
    }
  }

  &-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px;

    .isvg {
      svg {
        margin-bottom: 16px;
        animation: spin 1s linear infinite;

        path {
          fill: rgb(250, 190, 76);
        }
      }
    }
  }
  &-form {
    margin-top: 16.85px;

    h3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 600;
      font-size: 14px;
      line-height: 180%;
      color: var(--cool-gray);

      span {
        &:not(:first-child) {
          margin-left: 16px;
        }

        &.active {
          font-weight: 600;
          font-size: 11px;
          line-height: 180%;
          color: var(--royal-blue);
          outline: none;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .Input__wrapper {
      margin: 7.5px 0 0;

      .Input {
        min-width: 381px;
        border: 1px solid #dfe3f0;
        background: none;
        border-radius: 10px;

        .adaptive & {
          min-width: initial;
          width: 100%;
        }

        &:focus {
          border-color: var(--royal-blue) !important;
        }
      }
      .Input__description {
        margin: 16px 0 0;
      }

      &:not(:last-child) {
        margin-bottom: 27px;
      }
    }
    .Button {
      margin: 30px auto 0;
      width: 100%;
    }
  }
}

.adaptive .SendTokens {
  & > .Modal__box {
    padding: 20px !important;

    & > .CabinetModal__container {
      padding: 48px 20px 40px;
      border-radius: var(--radius-panel);
    }
  }

  & + .BottomSheetModal-container {
    z-index: 999;

    .BottomSheetModal__bg {
      background: none;
    }
  }
}
