.p2p-order-chat {
  padding: 0 !important;

  img {
    margin-right: 14px;
  }

  &-user {
    padding: 40px 30px 25px;
    border-bottom: 1px solid #f1f1f1;

    &__header {
      font-weight: 500;
      margin-bottom: 25px;

      span,
      a {
        font-size: 12px;
        line-height: 18px;
      }

      span {
        color: var(--cool-gray);
      }

      a {
        color: var(--main-orange);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    & &__name {
      font-size: 16px;
      line-height: 20px;
      color: var(--black-gunmetal);
      margin-bottom: 5px;
    }

    &-progress {
      &__item span {
        font-weight: 500;
        font-size: 11px;
        line-height: 105%;
        color: var(--cool-gray);
      }

      &__item strong {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--black-gunmetal);
      }
    }
  }
}
