.ContactsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 70px 60px;
  background: linear-gradient(294.55deg, #78a0ff 37.64%, #5078e6 77.51%),
    #edf1f8;
  border-radius: 35px;
  color: #fff;
  box-sizing: border-box;
  position: relative;

  h2 {
    max-width: 484px;
    margin-bottom: 18px;
    line-height: 118%;
    z-index: 2;
  }

  p {
    max-width: 369px;
    margin-bottom: 63px;
    font-weight: 500;
    font-size: 16px;
    line-height: 191%;
    z-index: 2;
  }

  svg,
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
