@import '../../../vars.less';

.ContactsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 70px 60px;
  background: linear-gradient(294.55deg, #78a0ff 37.64%, #5078e6 77.51%),
    #edf1f8;
  border-radius: 35px;
  color: #fff;
  box-sizing: border-box;
  position: relative;

  h2 {
    max-width: 484px;
    margin-bottom: 18px;
    line-height: 118%;
  }

  p {
    max-width: 369px;
    margin-bottom: 63px;
    font-weight: 500;
    font-size: 16px;
    line-height: 191%;
  }

  svg,
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  h2,
  p,
  a {
    position: relative;
    z-index: 2;
  }

  @media screen and (max-width: @mobile-width) {
    align-items: center;

    h2,
    p {
      max-width: 100%;
      text-align: center;
    }

    h2 {
      margin-bottom: 31px;
      font-size: 35px;
    }

    p {
      margin-bottom: 63px;
      font-size: 16px;
      line-height: 191%;
    }
  }
}
