.ProDex {
  &__row {
    width: auto;
  }
}

.tradingViewWidget {
  width: 61.15%;
  height: auto;
}

.tradeHistory {
  &__wrapper {
    margin-top: 18px;
    padding: 42px 18px 29px;
    background: #fff;
    border-radius: var(--radius-panel);
    box-sizing: border-box;
    color: var(--dark-black);

    h2 {
      padding: 0 16px;
      margin-bottom: 24px;

      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
  }
}
