.TransactionHistoryOverlay {
  box-shadow: 0 0 5px 15px rgba(255, 255, 255, 0.5);
  height: 320px;
  border-radius: 15px;

  &-empty {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding: 5px;
    text-align: center;
  }

  .Button {
    margin-top: 25px;

    &__label {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }

    .isvg {
      margin-right: 10px;
    }
  }
}
