@import '../../../../vars.less';

.Liquidity {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 32px !important;
  box-shadow: 0px 34px 70px rgba(199, 201, 207, 0.25);
  box-sizing: border-box;

  &.remove {
    padding: 32px 32px 14.8px !important;
  }
  
  // Containers
  &__header {
    width: 100%;
    margin-bottom: 48px;
  }

  &__body {
    width: 100%;
  }

  &__footer {
    margin-top: 48px;
    text-align: center;

    a {
      text-decoration: underline;
    }
  }

  // Components
  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-gunmetal);
  }

  .default-text,
  .default-text-light {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  .default-text {
    color: var(--cool-dark-gray);
    margin-bottom: 16px;

    &-light {
      color: var(--cool-gray);
    }

    &-dark {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: var(--dark-gunmetal);
    }
  }

  .default-text-dark {
  }

  &__subtitle {
    display: inline-flex;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-gunmetal);

    .isvg {
      margin-left: 8px;
    }
  }

  // <Button />
  .Button {
    width: 100%;

    span {
      //margin-left: 8px;
    }

    & + .Button {
      margin-top: 4px;
    }
  }
}

@media screen and (max-width: @mobile-width) {
  .Liquidity {
    &.remove {
      padding: 32px !important;
    }
    
    &__header {
      margin-bottom: 32px;
    }

    &__footer {
      margin-top: 32px;
    }
  }
}
