.WalletCard {
  position: relative;
  border-radius: 8px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: 600;
  padding: 0 64px;
  box-sizing: border-box;
  color: var(--text-black);
  background: currentColor;

  & > * {
    position: relative;
    z-index: 1;
  }

  &:before {
    position: absolute;
    border-radius: 7px;
    left: 0;
    top: 0;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    margin: 2px;
    content: "";
    display: block;
    background: var(--primary-background);
  }

  .WalletCard__title {
    font-size: 16px;
    line-height: 24px;
  }

  .WalletCard__balance {
    font-size: 24px;
    line-height: 32px;
  }

  .WalletCard__balanceUsd {
    font-size: 13px;
    line-height: 16px;
  }
}
